<div class="profile-body col-md-9">
  <div class="panel newJob">
    <div class="panel-body" ng-cloak>
      <div class="row">
        <div class="col-md-2">
          <label>Position :</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Enter position" ng-model="position" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>department :</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Enter department" ng-model="department">
        </div>
      </div>
      <hr >
      <div class="row">
        <div class="col-md-2">
          <label>Type :</label>
        </div>
        <div class="col-md-6">
          <select class="form-control" ng-model="type">
              <option>part-time</option>
              <option>full-time</option>
              <option>intern</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Payment :</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Enter Title" ng-model="paymentStart">
        </div>
        <div class="pull-left" style="line-height: 34px;">
          to
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Enter Title" ng-model="paymentEnd" >
        </div>
        <div class="pull-left" style="line-height: 34px;">
          ( k, only number )
        </div>
      </div>
      <hr >
      <div class="row">
        <div class="col-md-2">
          <label>Degree :</label>
        </div>
        <div class="col-md-6">
          <select class="form-control" ng-model="degree">
              <option>noLimit</option>
              <option>diploma</option>
              <option>bachelor</option>
              <option>master</option>
              <option>doctor</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Experience :</label>
        </div>
        <div class="col-md-6">
          <select class="form-control" ng-model="workYears">
              <option>noLimit</option>
              <option>graduating</option>
              <option>below 1</option>
              <option>1-3</option>
              <option>3-5</option>
              <option>5-10</option>
              <option>10+</option>
          </select>
        </div>
      </div>
      <hr >
      <div>
        <label>Summary :</label>
        <textarea class="form-control" rows="3" placeholder="Enter detail..." ng-model="summary"></textarea>
      </div>
      <div class="form-group" style="position:relative;margin-top: 15px;">
        <label>Detail:</label>
        <textarea class="form-control" rows="15" placeholder="Enter detail..." ng-model="detail"></textarea>
      </div>
    <div class="clearfix">
      <a class="btn btn-primary pull-right" role="button" ng-click="submit()">submit</a>
      <span class="pull-right color-red" ng-show="showBlankError" style="color:red; padding-right: 15px; line-height: 35px;">pls complete form</span>
    </div>
    </div>
  </div>  
</div>
<div class="profile-sidebar col-md-3">
  <div class="well">
    <div class="user-header bg-modena clearfix">
        <div class="pull-left">
          <img ng-src="{{global.user.avatar}}" style="height: 85px;width: 85px">
        </div>
        <div class="pull-left">
          <h3>{{global.user.name}}</h3>
        </div>
    </div>
    <!-- Menu Body -->
    <div class="user-body clearfix">
        <div class="col-xs-6 text-center">
            <a href="#" class="user_followers">{{global.user.share.length}}</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="#" class="user_connects">{{global.user.connects.length}}</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="#">share</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="#">Connects</a>
        </div>
    </div>

  </div>
  <div class="panel panel-default section">
    <div class="panel-heading">Reading List</div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</div>