<div class="media" ng-repeat="request in requests">
  <a class="pull-left" href="#">
    <img class="media-object" alt="64x64" ng-src="{{request.from.avatar}}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{request.from.name}}</h4>
    <div class="row">
      <div class="col-md-9">
        <div>send you a connect. check as {{request.content}}</div>
        <div class="clearfix media-info">
          <span class="date pull-left"><a href="#">{{request.createAt}}</a></span>
        </div>
      </div>
      <div class="col-md-3 clearfix">
        <div class="pull-right" ng-show="!request.hasDisposed">
          <a class="btn btn-primary" role="button" ng-click="vm.accept(request)">accept</a>
          <a class="btn btn-primary" role="button" ng-click="vm.reject(request)">reject</a>
        </div>
        <div class="pull-right" ng-show="request.hasDisposed">
          <a class="btn btn-default" role="button">disposed</a>
        </div>
      </div>
    </div>
  </div>
</div>