<div class="container" id="loginWrap">
  <div class="form-box" id="login-box">
    <div class="header">Login</div>
    <form action="" method="post" id="formSignup">
        <div class="body bg-gray">
            <div class="form-group">
                <input class="form-control" name="username" id="inputUsername" type="text" placeholder="Username" title="Choose a username" required="" ng-change="change()" ng-model="user.name">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" id="inputpassword" type="password" placeholder="Password" required="" ng-keydown="enter($event)" ng-model="user.password" ng-change="change()">
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-modena btn-block" id="btnRegister" ng-click="submit()">Login</button>
            <label class="error" ng-show="isError">Wrong User or Password!</label>
        </div>
    </form>
</div>