<div class="nav-tabs-custom row" ng-cloak style="margin-bottom:0;">
  <ul class="nav nav-tabs pull-left">
      <li class="pull-left header"><i class="fa fa-fw fa-gear"></i>Settings</li>
      <li ng-class="{active: current === 'b'}" ng-click="current = 'b'"><a href="#">Basic</a></li>
      <li ng-class="{active: current === 'm'}" ng-click="current = 'm'"><a href="#">Members</a></li>
      <li class="pull-right"><div><a ng-href="/group/{{groupId}}" class="btn btn-primary btn-sm">Back Group</a></div></li>
  </ul>
</div>
<div class="group-settings-basic row" ng-if="current === 'b'" ng-cloak>
	<div class="panel col-md-12">
		<div class="panel-body">
			<div class="row" style="margin-bottom: 50px;">
				<div class="col-md-8 form-container">
					<div class="row">
						<div class="col-xs-4">
							<label>Name :</label>
						</div>
						<div class="col-xs-8">
							<input class="form-control" name="name" type="text" placeholder="group name" required="" ng-model="basic.name">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label>Industry :</label>
						</div>
						<div class="col-xs-8">
							<input class="form-control" name="industry" type="text" placeholder="group industry" required="" ng-model="basic.industry">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label>Announcement :</label>
						</div>
						<div class="col-xs-8">
							<textarea class="form-control" rows="5" placeholder="Enter announcement..." ng-model="basic.announcement"></textarea>
						</div>
					</div>
					<div class="clearfix">
				      <a class="btn btn-primary pull-right" role="button" ng-click="save()">Save</a>
				      <span class="pull-right error" ng-show="basic.name ==='' || basic.industry ===''">name or industry can't be blank</span>
				      <span class="pull-right success" ng-show="isSuccess">save success</span>
				    </div>
				</div>
				<div class="col-md-4">
					<div class="basic-settings-avatar">
	                    <a href="#">
	                        <img ng-src="{{basic.avatar}}" id="changeAvatar">
	                    </a>
	                    <input type="file" id="avatar-upload" multiple />
	                    <div class="upload-progress" id="upload-progress"></div>
	                    <div class="avatar-tip text-center">Click To Change</div>
	                </div>
				</div>
			</div>				
			<hr>
			<div class="row">
				<div class="col-xs-7">
					<div class="clearfix">
				      <a class="btn btn-danger pull-right" role="button">Quit</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="group-settings-members row" ng-if="current === 'm'" ng-cloak>
	<div class="panel col-md-12">
		<div class="panel-body">
			<div class="clearfix" style="margin-bottom: 5px;">
				<span class="pull-right" style="padding-right:5px;" ng-click="refresh()"><a href="#"><i class="fa fa-fw fa-refresh"></i>refresh</a></span>
				<span class="pull-right" style="padding-right:15px;"><strong>total</strong> : {{admin.length + members.length + 1}}</span>
			</div>
			<table class="table table-bordered table-hover">
			  <thead>
				  <tr>
				    <th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
				        ng-class="{sortable: column.sortable !== false}">
				      {{column.label}}
				      <i ng-if="column.name === vm.sort.column && vm.sort.direction"
				         class="fa fa-fw {{vm.sort.direction|orderClass}}"></i>
				    </th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr>
				    <td><input type="text" ng-model="vm.filter.name" class="form-control"/></td>
				    <td><input type="number" ng-model="vm.filter.post" class="form-control"/></td>
				    <td></td>
				  </tr>
				  <tr ng-repeat="item in [creator].concat(admin,members)|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
				    <td>
				      <img src="/public/imgs/angularjs.png">
				      <span>{{item.name}}</span>
				      <i class="fa fa-fw fa-user" ng-class="{item.isAdmin:'blue',item.isCreator:'red'}" ng-show="item.isAdmin || item.isCreator"></i>
				    </td>
				    <td class="text-right">
				      <span>{{item.post}}</span>
				    </td>
				    <td class="text-center">
				      <span class="btn btn-primary btn-xs" title="remove" ng-show="!item.isCreator">
				      	<i class="fa fa-fw fa-trash-o"></i>
				      </span>
				      <span class="btn btn-primary btn-xs" title="admin" ng-show="!item.isAdmin && !item.isCreator">
				      	<i class="fa fa-fw fa-user"></i>
				      </span>
				      <span class="btn btn-primary btn-xs" title="admin" ng-show="item.isAdmin">
				      	<i class="fa fa-fw fa-sign-out"></i>
				      </span>
				    </td>
				  </tr>
			  </tbody>
			</table>
			<div class="row">
			  <div class="col-md-3">
			    <select ng-model="vm.page.size" class="form-control" title="每页条目数"
			            ng-options="pageSize for pageSize in [20, 50, 100]">
			    </select>
			  </div>
			  <div class="col-md-9">
			    <pagination total-items="[creator].concat(admin,members)|filter:vm.filter|size" ng-model="vm.page.index" max-size="5" items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"></pagination>
			  </div>
			</div>
		</div>
	</div>
</div>