<div class="nav-tabs-custom row" ng-cloak style="margin-bottom:0;background-color:transparent">
  <ul class="nav nav-tabs pull-left">
      <li class="pull-left header"><i class="fa fa-fw fa-gear"></i>设置</li>
      <li ng-class="{active: current === 'b'}" ng-click="current = 'b'"><a href="#">基本</a></li>
      <li ng-class="{active: current === 'm'}" ng-click="clickMember()"><a href="#">成员</a></li>
      <li ng-class="{active: current === 'h'}" ng-click="clickHire()"><a href="#">职位</a></li>
      <li ng-class="{active: current === 'c'}" ng-click="clickCode()"><a href="#">邀请码</a></li>
  </ul>
</div>
<div class="group-settings-basic row" ng-if="current === 'b'" ng-cloak>
	<div class="panel col-md-12">
		<div class="panel-body">
			<div class="row" ng-if="global.isCreator || global.isAdmin">
				<div class="col-md-8 form-container">
					<div class="row">
						<div class="col-xs-3">
							<label style="margin-bottom:0px;line-height:35px;">圈号 :</label>
						</div>
						<div class="col-xs-8" style="line-height: 35px;">
							<span>{{groupId}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<label>圈名 :</label>
						</div>
						<div class="col-xs-8">
							<input class="form-control" name="name" type="text" placeholder="群名" required="" ng-model="basic.name">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<label>行业 :</label>
						</div>
						<div class="col-xs-8">
							<input class="form-control" name="industry" type="text" placeholder="所处的行业" required="" ng-model="basic.industry">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<label>公告 :</label>
						</div>
						<div class="col-xs-8">
							<textarea class="form-control" rows="5" placeholder="公告" ng-model="basic.announcement"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<label>简介 :</label>
						</div>
						<div class="col-xs-8">
							<textarea class="form-control" rows="3" placeholder="简单介绍一下群组吧..." ng-model="basic.intro"></textarea>
						</div>
					</div>
					<div class="clearfix">
				      <a class="btn btn-primary pull-right" role="button" ng-click="save()" style="margin-right:71px">保存</a>
				      <span class="pull-right error" ng-show="basic.name ==='' || basic.industry ===''">圈名和行业不能为空哦。</span>
				      <span class="pull-right success" ng-show="isSuccess">保存成功</span>
				    </div>
				</div>
				<div class="col-md-4">
					<div class="basic-settings-avatar">
	                    <a href="#">
	                        <img ng-src="{{basic.avatar + '-normal'}}" id="changeAvatar">
	                    </a>
	                    <input type="file" id="avatar-upload" multiple />
	                    <div class="upload-progress" id="upload-progress"></div>
	                    <div class="avatar-tip text-center">点击修改</div>
	                </div>
				</div>
			</div>
			<div class="row" ng-if="global.isJoined && !global.isCreator && !global.isAdmin">
				<div class="col-md-8">
					<div class="row">
						<div class="col-xs-4">
							<label style="margin-bottom:0px;line-height:35px;">圈号 :</label>
						</div>
						<div class="col-xs-8" style="line-height: 35px;">
							<span>{{groupId}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label style="margin-bottom:0px;line-height:35px;">圈名 :</label>
						</div>
						<div class="col-xs-8" style="line-height: 35px;">
							<span>{{basic.name}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label style="margin-bottom:0px;line-height:35px;">行业 :</label>
						</div>
						<div class="col-xs-8" style="line-height: 35px;">
							<span>{{basic.industry}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label style="margin-bottom:0px;line-height:35px;">公告 :</label>
						</div>
						<div class="col-xs-8" style="line-height: 35px;">
							<span>{{basic.announcement || '暂无公告'}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<label style="margin-bottom:0px;line-height:35px;">简介 :</label>
						</div>
						<div class="col-xs-8" style="line-height: 34px;">
							<span>{{basic.intro || '什么都没有写哦'}}</span>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-7">
					<div>
						圈管理员人数最多为5个
					</div>
					<div>
						创建者退出，圈子自动移交到等级最高的管理员
					</div>
					<div>
				    	退出圈子: <a class="quit" role="button" ng-click="quit()">退出</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="group-settings-members row" ng-if="current === 'm'" ng-cloak>
	<div class="panel col-md-12" ng-if="global.isCreator || global.isAdmin">
		<div class="panel-body">
			<div class="clearfix" style="margin-bottom: 5px;">
				<span class="pull-right" style="padding-right:5px;" ng-click="refresh()"><a href="#"><i class="fa fa-fw fa-refresh"></i>刷新</a></span>
				<span class="pull-right" style="padding-right:15px;"><strong>总数</strong> : {{admin.length + members.length + 1}}</span>
			</div>
			<table class="table table-bordered table-hover">
			  <thead>
				  <tr>
				    <th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
				        ng-class="{sortable: column.sortable !== false}">
				      {{column.label}}
				      <i ng-if="column.name === vm.sort.column && vm.sort.direction"
				         class="fa fa-fw {{vm.sort.direction|orderClass}}"></i>
				    </th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr>
				    <td><input type="text" ng-model="vm.filter.name" class="form-control"/></td>
				    <td><input type="number" ng-model="vm.filter.post" class="form-control"/></td>
				    <td></td>
				  </tr>
				  <tr ng-repeat="item in [creator].concat(admin,members)|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
				    <td>
				      <img ng-src="{{item.avatar + '-xs'}}">
				      <span>{{item.name}}</span>
				      <i class="fa fa-fw fa-user" ng-class="{'admin':item.isAdmin,'creator':item.isCreator}" ng-show="item.isAdmin || item.isCreator"></i>
				    </td>
				    <td class="text-right">
				      <span>{{item.post}}</span>
				    </td>
				    <td class="text-center">
				      <span class="btn btn-primary btn-xs" title="remove" ng-show="!item.isCreator && !item.isAdmin  && (global.isCreator || global.isAdmin)" ng-click="vm.deleteMember(item)">
				      	<i class="fa fa-fw fa-trash-o"></i>
				      </span>
				      <span class="btn btn-primary btn-xs" title="add admin" ng-show="!item.isAdmin && !item.isCreator && global.isCreator" ng-click="vm.addAdmin(item)">
				      	<i class="fa fa-fw fa-user"></i>
				      </span>
				      <span class="btn btn-primary btn-xs" title="remove admin" ng-show="item.isAdmin && global.isCreator" ng-click="vm.removeAdmin(item)">
				      	<i class="fa fa-fw fa-sign-out"></i>
				      </span>
				    </td>
				  </tr>
			  </tbody>
			</table>
			<div class="row">
			  <div class="col-md-3">
			    <select ng-model="vm.page.size" class="form-control" title="每页条目数"
			            ng-options="pageSize for pageSize in [20, 50, 100]">
			    </select>
			  </div>
			  <div class="col-md-9">
			    <pagination total-items="[creator].concat(admin,members)|filter:vm.filter|size" ng-model="vm.page.index" max-size="5" items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"></pagination>
			  </div>
			</div>
		</div>
	</div>
	<div class="panel col-md-12" ng-if="global.isJoined && !global.isCreator && !global.isAdmin">
		<div class="panel-body">
			<div class="clearfix" style="margin-bottom: 5px;">
				<span class="pull-right" style="padding-right:5px;" ng-click="refresh()"><a href="#"><i class="fa fa-fw fa-refresh"></i>refresh</a></span>
				<span class="pull-right" style="padding-right:15px;"><strong>total</strong> : {{admin.length + members.length + 1}}</span>
			</div>
			<table class="table table-bordered table-hover">
			  <thead>
				  <tr>
				    <th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
				        ng-class="{sortable: column.sortable !== false}">
				      {{column.label}}
				      <i ng-if="column.name === vm.sort.column && vm.sort.direction"
				         class="fa fa-fw {{vm.sort.direction|orderClass}}"></i>
				    </th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr>
				    <td><input type="text" ng-model="vm.filter.name" class="form-control"/></td>
				    <td><input type="number" ng-model="vm.filter.post" class="form-control"/></td>
				    <td></td>
				  </tr>
				  <tr ng-repeat="item in [creator].concat(admin,members)|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
				    <td>
				      <img ng-src="{{item.avatar + '-xs'}}">
				      <span>{{item.name}}</span>
				      <i class="fa fa-fw fa-user" ng-class="{'admin':item.isAdmin,'creator':item.isCreator}" ng-show="item.isAdmin || item.isCreator"></i>
				    </td>
				    <td class="text-right">
				      <span>{{item.post}}</span>
				    </td>
				    <td></td>
				  </tr>
			  </tbody>
			</table>
			<div class="row">
			  <div class="col-md-3">
			    <select ng-model="vm.page.size" class="form-control" title="每页条目数"
			            ng-options="pageSize for pageSize in [20, 50, 100]">
			    </select>
			  </div>
			  <div class="col-md-9">
			    <pagination total-items="[creator].concat(admin,members)|filter:vm.filter|size" ng-model="vm.page.index" max-size="5" items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"></pagination>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="group-settings-hire row" ng-if="current === 'h'" ng-cloak>
	<div class="panel col-md-12" ng-if="global.isCreator || global.isAdmin">
		<div class="panel-body">
			<div ng-if="hires.length > 0">
				<h4 style="margin-bottom:15px;">已发布职位 <span style="color:#999;margin-left:10px;">({{hires.length + '/5'}})</span></h4>
				<div ng-repeat="hire in hires" class="hire-item">
					<div>{{hire.location}} | {{hire.position}} | <a href="{{hire.link}}" target="_blank">{{hire.link}}</a></div>
					<div>由 <a href="/profile/{{hire.by.id}}" target="_self">{{hire.by.name}}</a> 发布
						<!-- <span style="color:#999;font-size:0.9em;margin-left: 10px;">{{item.date || '刚刚发布'}}</span> -->
					</div>
					<span class="hover-tag" ng-click="vm.delHire(hire)"><i class="fa fa-fw fa-times"></i></span>
				</div>
			</div>
			<div ng-if="hires.length === 0">
				<div>该圈未发布任何职位，由系统自动筛选发布</div>
				<div>你可以发布5个职位，快来添加吧。</div>
			</div>
			<hr>
			<div ng-show="!showAddHire">
				<a href="" class="btn btn-primary btn-sm" ng-click="vm.openHire();"><i class="fa fa-fw fa-plus"></i> 添加</a>
				<span id="maxLimit" style="margin-left:10px;color:red; display:none;">你已经添加了5个职位了，不能再添加了。</span>
			</div>
			<div ng-show="showAddHire" class="addHirePanel">
				<div class="row">
					<div class="col-md-2 text-center">地点 :</div>
					<div class="col-md-5">
						 <input type="text" class="form-control" placeholder="地点" ng-model="hire.location" >
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-center">职位 :</div>
					<div class="col-md-5">
						 <input type="text" class="form-control" placeholder="职位" ng-model="hire.position" >
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 text-center">链接 :</div>
					<div class="col-md-5">
						 <input type="text" class="form-control" placeholder="链接" ng-model="hire.link" >
					</div>
				</div>
				<div class="row">
					<div class="clearfix col-md-7">
						<a href="" class="btn btn-primary btn-sm pull-right" ng-click="vm.addHire();">确定</a>
						<a href="" class="btn btn-default btn-sm pull-right" style="margin-right:10px;" ng-click="vm.hireCancel();">取消</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel col-md-12" ng-if="global.isJoined && !global.isCreator && !global.isAdmin">
		<div class="panel-body">对不起，你没有权限查看该内容 !</div>
	</div>
</div>
<div class="group-settings-code row" ng-if="current === 'c'" ng-cloak>
	<div class="panel col-md-12" ng-if="global.isCreator || global.isAdmin">
		<div class="panel-body">
			<h4 style="margin-bottom:20px;font-weight:700;">邀请码</h4>
			<div>已获得 : {{code.total}}</div>
			<div>已使用 : {{code.used}}</div>
			<div style="margin-bottom:10px;">未使用 : {{code.unUsed.length}}</div>
			<div ng-if="code.unUsed.length > 0">
				<div style="font-weight:700;">未使用列表 :</div>
				<div ng-repeat="invite in code.unUsed">
					{{invite.code}}
				</div>
			</div>
			<div ng-if="code.unUsed.length === 0">
				没有已生成未使用的邀请码，重新生成一下试试 ~~
			</div>
			<hr>
			<div class="clearfix">
				<a href="" class="btn btn-primary btn-sm" ng-click="generateCode();">生成新的邀请码</a>
				<span id="maxCode" style="color:red; margin-left:10px; display:none;">所有的邀请码都已生成 ！</span>
			</div>
		</div>
	</div>
	<div class="panel col-md-12" ng-if="global.isJoined && !global.isCreator && !global.isAdmin">
		<div class="panel-body">对不起，你没有权限查看该内容 !</div>
	</div>
</div>
