<div class="group-topic-add clearfix">
  <a class="btn btn-primary btn-sm" href="#"> <i class="fa fa-fw fa-plus"></i> add your view</a>
</div>
<div class="well custom-well" style="display:none;">
    <div class="form-group" style="position:relative;">
        <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="newShare"></textarea>
        <div class="share-success" id="submit-success">
          <i class="fa fa-fw fa-check-circle"></i>
          <span>success !</span>
        </div>
    </div>
    <div class="clearfix">
      <a class="btn btn-primary pull-right" role="button" ng-click="submit()" ng-class="{'default': newShare === ''}">submit</a>
    </div>
</div>
<div class="panel news">
  <div class="panel-body" ng-cloak>
    <div class="media" ng-repeat-start="share in shareList">
      <a class="pull-left" ng-href="/profile/{{share.user.id}}" target="_self">
        <img class="media-object" alt="64x64" ng-src="{{share.user.avatar}}" style="width: 50px; height: 50px;">
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{share.user.name}}</h4>
        <div>
          <p>{{share.content}}</p>
        </div>
        <div class="clearfix media-info">
          <span class="date pull-left"><a href="#">{{share.createAt | formatDate:true }}</a></span>
          <span class="pull-right media-control">
            <a href="#" class="like" ng-class="{liked:share.liked}"><i class="fa fa-fw fa-thumbs-o-up" ng-click="vm.toggleLike(share)"></i>({{share.likes}})</a>
            <a href="#" class="comment" ng-click="vm.toggleComment(share)"><i class="fa fa-fw fa-comments"></i>({{share.comments.length}})</a>
          </span>
        </div>
        <div class="reply-container" ng-show="share.isShowComment">
          <div class="input-group comment-editor">
              <textarea class="form-control" rows="1" placeholder="Enter ..." ng-model="share.newComment"></textarea>
              <span class="input-group-btn">
                  <button class="btn btn-primary reply-submit" type="button" ng-click="vm.submitComment(share)">submit</button>
              </span>
          </div>
          <hr class="reply-hr" ng-repeat-start="comment in share.comments">
          <div class="media reply-item" ng-repeat-end>
            <a class="pull-left" ng-href="/profile/{{comment.user.id}}" target="_self">
              <img class="media-object" alt="34x34" ng-src="{{comment.user.avatar}}" style="width: 34px; height: 34px;">
            </a>
            <div class="media-body">
              <p class="reply-content"><span class="reply-user"><a href="#">{{comment.user.name}}</a>: </span>{{comment.content}}</p>
              <div class="clearfix media-info">
                <span class="date pull-left"><a href="#">{{comment.date | formatDate:true}}</a></span>
                <span class="pull-right media-control">
                  <a href="#" class="comment" ng-show="comment.user.name === global.user.name || global.user.name === share.user.name" ng-click="vm.delete(comment, share)"><i class="fa fa-fw fa-trash-o"></i></a>
                  <a href="#" class="comment" ng-click="vm.reply(comment)">reply</a>
                </span>
              </div>
              <div class="input-group comment-editor comment-editor-inline" ng-show="comment.isShowReply">
                  <textarea class="form-control" rows="1" placeholder="Enter ..." ng-model="comment.newComment"></textarea>
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" ng-click="vm.submitInlineComment(comment,share)">submit</button>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr ng-repeat-end>
    <!-- <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 50px; height: 50px;">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <div>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </div>
        <div class="clearfix media-info">
          <span class="date pull-left"><a href="#">2014/05/18</a></span>
          <span class="pull-right media-controll">
            <a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i></a>
            <a href="#"><i class="fa fa-fw fa-comments"></i></a>
          </span>
        </div>
        <div class="reply-container">
          <div class="input-group comment-editor">
              <textarea class="form-control" rows="1" placeholder="Enter ..."></textarea>
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">submit</button>
              </span>
          </div>
          <hr class="reply-hr">
          <div class="media reply-item">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 34px; height: 34px;">
            </a>
            <div class="media-body">
              <p class="reply-content"><span class="reply-user"><a href="#">Joeylin</a>: </span>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at.</p>
              <div class="clearfix media-info">
                <span class="date pull-left"><a href="#">a minute ago</a></span>
                <span class="pull-right media-controll">
                  <a href="#" class="comment" >reply</a>
                </span>
              </div>
              <div class="input-group comment-editor comment-editor-inline">
                  <textarea class="form-control" rows="1" placeholder="Enter ..."></textarea>
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">submit</button>
                  </span>
              </div>
            </div>
          </div>
          <hr class="reply-hr">
          <div class="media reply-item">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 34px; height: 34px;">
            </a>
            <div class="media-body">
              <p class="reply-content"><span class="reply-user"><a href="#">Joeylin</a>: </span>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at.</p>
              <div class="clearfix media-info">
                <span class="date pull-left"><a href="#">a minute ago</a></span>
                <span class="pull-right media-controll">
                  <a href="#" class="comment" >reply</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div ng-show="shareList.length > 0">
      <ul class="pager">
        <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">Previous</a></li>
        <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>  