<div class="group-topic-add row clearfix">
  <a class="btn btn-primary" href="#" ng-click="open()" ng-show="!isSearch"> <i class="fa fa-fw" ng-class="{true:'fa-minus',false:'fa-plus'}[isOpened]"></i> 发布圈微说</a>
  <div class="group-add-content" ng-cloak ng-show="isOpened">
    <div class="well custom-well">
        <div class="arrow"></div>
        <div class="form-group newTopic">
            <textarea auto-height atwho="userList" class="form-control" rows="3" placeholder="分享你的发现吧 ..." ng-model="newShare" ng-change="change(newShare)"></textarea>
            <div class="share-success" id="submit-success">
              <i class="fa fa-fw fa-check-circle"></i>
              <span>发布成功 !</span>
            </div>
        </div>
        <div class="clearfix">
          <span class="pull-left" ng-show="shareCount <= 140">你还可以输入<span class="shareCount">{{140 - shareCount}}</span> 字</span>
          <span class="pull-left" ng-show="shareCount > 140">你已经超过<span class="shareCount" style="color:#E44443;">{{shareCount - 140}}</span> 字</span>
          <a class="btn btn-primary pull-right" role="button" ng-click="submit()" ng-class="{'default': newShare === '' || (shareCount > 140)}" style="padding-left: 20px;padding-right: 20px;">发表</a>
          <span class="pull-right toMyShare" ng-click="toMyShare = !toMyShare">
            <i class="fa fa-fw" ng-class="{true:'fa-check-square-o', false:'fa-square-o'}[toMyShare]"></i>
            同时发布到我的好友圈
          </span>
        </div>
    </div>
  </div>
  <a class="btn btn-success" href="" ng-click="backPost()" ng-show="isSearch"><i class="fa fa-fw fa-angle-double-left"></i> 返回群主页</a>
  <div class="pull-right" style="width: 250px;">
    <div class="input-search">
        <input type="text" class="form-control" placeholder="搜索本圈" ng-model="keyword" ng-keydown="enter($event)">
        <span class="input-search-addon"><i class="fa fa-fw fa-search"></i>
        </span>
    </div>
  </div>
</div>
<div class="panel news row panel-default">
  <div class="panel-body" ng-cloak>
    <div ng-show="isSearch && shareList.length > 0">
      搜到相关结果{{total}}个
    </div>
    <div class="media" ng-repeat-start="share in shareList">
      <a class="pull-left" ng-href="/profile/{{share.user.id}}" target="_self">
        <img class="media-object" alt="64x64" ng-src="{{share.user.avatar + '-small'}}" style="width: 50px; height: 50px;">
      </a>
      <div class="media-body" id="{{share._id}}">
        <h4 class="media-heading">{{share.user.name}}</h4>
        <div>
          <p md-content="share.content"></p>
        </div>
        <div class="clearfix media-info">
          <span class="date pull-left">{{share.createAt | formatDate:true }}</span>
          <span class="collect pull-left" ng-click="vm.toggleCollect(share)">
            <a href="" ng-show="!share.has_collect">收藏</a>
            <a href="" ng-show="share.has_collect">已收藏</a>
          </span>
          <span class="toMyFriends pull-left"><a href="" ng-click="vm.forkPopup(share)">分享({{share.fork || 0}})</a></span>
          <span class="pull-right media-control">
            <a href="#" class="delete" ng-show="global.user.name === share.user.name || global.isAdmin || global.isCreator" ng-click="vm.deletePopup(share)"><i class="fa fa-fw fa-trash-o"></i></a>
            <a href="#" class="like" ng-class="{liked:share.liked}" ng-click="vm.toggleLike(share)"><i class="fa fa-fw fa-thumbs-o-up"></i>({{share.likes}})</a>
            <a href="#" class="comment" ng-click="vm.toggleComment(share)"><i class="fa fa-fw fa-comments"></i>({{share.commentsCount}})</a>
          </span>
        </div>
        <div class="reply-container" ng-show="share.isShowComment">
          <div class="comment-editor" ng-show="global.user">
              <textarea auto-height atwho="userList" class="form-control" rows="1" placeholder="输入 ..." ng-model="share.newComment"></textarea>
              <span class="input-group-btn">
                  <button class="btn btn-primary pull-right btn-sm reply-submit" type="button" ng-click="vm.submitComment(share)">评论</button>
              </span>
          </div>
          <hr class="reply-hr" ng-show="global.user">
          <div class="reply-placeholder text-center" ng-show="share.comments.length === 0">
            还没人回复呢，快啦回复一下吧 ... 
          </div>
          <hr class="reply-hr" ng-repeat-start="comment in share.comments" ng-class="{'displayNone': $first}">
          <div class="media reply-item" ng-repeat-end>
            <a class="pull-left" ng-href="/profile/{{comment.user.id}}" target="_self">
              <img class="media-object" alt="34x34" ng-src="{{comment.user.avatar + '-sm'}}" style="width: 34px; height: 34px;">
            </a>
            <div class="media-body" id="{{comment._id}}">
              <p class="reply-content">
                <span class="reply-user"><a href="#">{{comment.user.name}}</a>: </span><span md-content="comment.content"></span>
              </p>
              <div class="clearfix media-info">
                <span class="date pull-left">{{comment.date | formatDate:true}}</span>
                <span class="pull-right media-control" ng-show="global.user">
                  <a href="#" class="comment" ng-show="comment.user.name === global.user.name || global.user.name === share.user.name || global.isAdmin || global.isCreator" ng-click="vm.delete(comment, share)"><i class="fa fa-fw fa-trash-o"></i></a>
                  <a href="#" class="comment" ng-click="vm.reply(comment)">回复</a>
                </span>
              </div>
              <div class="input-group comment-editor comment-editor-inline" ng-show="comment.isShowReply">
                  <textarea auto-height atwho="userList" class="form-control" rows="1" placeholder="输入 ..." ng-model="comment.newComment"></textarea>
                  <span class="input-group-btn">
                      <button class="btn btn-primary btn-sm" type="button" ng-click="vm.submitInlineComment(comment,share)">评论</button>
                  </span>
              </div>
            </div>
          </div>
          <hr class="reply-hr" ng-show="share.comments.length < share.commentsCount">
            <div ng-show="share.comments.length < share.commentsCount" class="clearfix">
              <a class="pull-right" href="/view/{{share.id}}" target="_blank">查看更多评论 <i class="fa fa-fw fa-angle-double-right"></i></a>
            </div>
        </div>
      </div>
    </div>
    <hr ng-repeat-end>
    <div ng-show="isSearch && shareList.length === 0">
      <div class="no-result text-center">
        ooh...   没搜到相关的内容，请尝试其他关键词吧!
      </div>
    </div>
    <div ng-show="shareList.length > 0">
      <ul class="pager">
        <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
        <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
      </ul>
    </div>
    <div ng-show="!isSearch && shareList.length === 0" ng-cloak>
      <div class="no-result text-center">
        ooh...   还没有人发表博文，快来发表哦 ~~
      </div>
    </div>
  </div>
</div>  