<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Translate community</title>
    <meta name="description" content="Your questions about the Ghost blogging platform answered. Get help with Ghost problems or issues on our community support forum.">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    
    <!-- <link rel="shortcut icon" type="image/x-icon" href="https://ghost.org/assets/favicon-e13fe17b11ad125601924cfb260f20da.ico">
    <link rel="canonical" href="https://ghost.org/forum">
    <link rel="stylesheet" type="text/css" href="./The Ghost.org Forum - Support, Help and Questions_files/css">
    <link data-turbolinks-track="true" href="https://ghost.org/assets/application-818b55640a43600a0b2281e6bf13ddb4.css" media="all" rel="stylesheet">
    
    <meta content="authenticity_token" name="csrf-param">
    <meta content="lR9CGV5H5WARo8ySDfNRHeYqr9MSG4X1KBdXa8SWteE=" name="csrf-token"> -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:700,400,300">

    <link rel="stylesheet" type="text/css" href="../public/css/custom.css">

    <style type="text/css">
        .forum-table {
            margin-top: 0px;
        }
        .ghost {
            text-decoration: none;
        }
        .ghost-logo span {
            color: #fff;
            font-weight: 500;
            line-height: 26.7px;
            font-size: 17;
        }
    </style>
</head>

<body class="forum" data-logged-in-user="">
    <header id="global-header" class="navbar">
        <nav role="navigation">
            <div class="wrapper">
                <a class="ghost-logo" href="https://ghost.org/" with_host="true">
                    <span>Translate</span>
                </a>
                <button type="button" class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="hidden">Menu</span>
                </button>
                <ul id="main-menu" class="navbar-collapse collapse">
                    <li><a class="" href="https://ghost.org/" with_host="true">Dashboard</a>
                    </li>
                    <li><a class="" href="https://ghost.org/blogs/" with_host="true">My Blogs</a>
                    </li>
                    <li><a href="http://marketplace.ghost.org/">one</a>
                    </li>
                    <li><a href="http://docs.ghost.org/">process</a>
                    </li>
                    <li><a class=" current" href="" with_host="true"></a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="usermenu" href="https://ghost.org/forum/#">joeylin</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a class="" href="https://ghost.org/joeylin/" with_host="true">View my Profile</a>
                                </li>
                                <li><a class="" href="https://ghost.org/settings/profile/" with_host="true">Account Settings</a>
                                </li>
                                <li class="divider" role="presentation"></li>
                                <li><a class="logout" href="https://ghost.org/logout/" with_host="true">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="clearfix"></div>
    <main role="main">
        <section class="page-wrapper">
            <table class="forum-table">
                <thead>
                    <tr>
                        <th>Topics</th>
                        <th class="column-name align-right">Activity</th>
                        <th class="column-name">Last Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="forum-category updated">
                        <td>
                            <section class="icon-bar">
                                <i class="status"></i>
                                <i class="replied"></i>
                            </section>
                            <div class="content">
                                <a class="forum-category-title" href="https://ghost.org/forum/installation/">Installation</a>
                                <span class="forum-category-description">Got Ghost! What now? Help getting set-up</span>
                            </div>
                        </td>
                        <td class="post-count">
                            <span class="forum-table-value">3499</span>
                        </td>
                        <td class="post-date last-activity">
                            <section class="right-section">
                                <span class="name">Bizinfo</span>
                                <span class="time">26 Feb, 2014 14:52</span>
                            </section>
                        </td>
                    </tr>
                    <tr class="forum-category updated">
                        <td>
                            <section class="icon-bar">
                                <i class="status"></i>
                                <i class="replied"></i>
                            </section>
                            <div class="content">
                                <a class="forum-category-title" href="https://ghost.org/topic/">Using Ghost</a>
                                <span class="forum-category-description">Finding your way around and publishing!</span>
                            </div>
                        </td>
                        <td class="topic-count">
                            <span class="forum-table-value">351</span>
                        </td>
                        <td class="post-date last-activity">
                            <section class="right-section">
                                <span class="name">xtremers9</span>
                                <span class="time">27 Feb, 2014 02:56</span>
                            </section>
                        </td>
                    </tr>
                    <tr class="forum-category unread">
                        <td>
                            <section class="icon-bar">
                                <i class="status"></i>
                                <i class="replied"></i>
                            </section>
                            <div class="content">
                                <a class="forum-category-title" href="https://ghost.org/forum/themes/">Themes</a>
                                <span class="forum-category-description">Making your own designs and templates</span>
                            </div>
                        </td>
                        <td class="topic-count">
                            <span class="forum-table-value">226</span>
                        </td>
                        <td class="post-date last-activity">
                            <section class="right-section">
                                <span class="name">zethraeus</span>
                                <span class="time">27 Feb, 2014 00:04</span>
                            </section>
                        </td>
                    </tr>
                    <tr class="forum-category unread">
                        <td>
                            <section class="icon-bar">
                                <i class="status"></i>
                                <i class="replied"></i>
                            </section>
                            <div class="content">
                                <a class="forum-category-title" href="https://ghost.org/forum/plugins/">Plugins</a>
                                <span class="forum-category-description">Adding custom additional functionality</span>
                            </div>
                        </td>
                        <td class="topic-count">
                            <span class="forum-table-value">57</span>
                        </td>
                        <td class="post-date last-activity">
                            <section class="right-section">
                                <span class="name">xtremers9</span>
                                <span class="time">27 Feb, 2014 03:00</span>
                            </section>
                        </td>
                    </tr>
                    <tr class="forum-category unread">
                        <td>
                            <section class="icon-bar">
                                <i class="status"></i>
                                <i class="replied"></i>
                            </section>
                            <div class="content">
                                <a class="forum-category-title" href="https://ghost.org/forum/bugs-suggestions/">Bugs &amp; Suggestions</a>
                                <span class="forum-category-description">Oops! Spotted a problem.</span>
                            </div>
                        </td>
                        <td class="topic-count">
                            <span class="forum-table-value">269</span>
                        </td>
                        <td class="post-date last-activity">
                            <section class="right-section">
                                <span class="name">smandell</span>
                                <span class="time">27 Feb, 2014 01:14</span>
                            </section>
                        </td>
                    </tr>
                    <tr class="forum-category unread">
                        <td>
                            <section class="icon-bar">
                                <i class="status"></i>
                                <i class="replied"></i>
                            </section>
                            <div class="content">
                                <a class="forum-category-title" href="https://ghost.org/forum/everything-else/">Everything Else</a>
                                <span class="forum-category-description">All the things that don't fit in the categories above</span>
                            </div>
                        </td>
                        <td class="topic-count">
                            <span class="forum-table-value">105</span>
                        </td>
                        <td class="post-date last-activity">
                            <section class="right-section">
                                <span class="name">xtremers9</span>
                                <span class="time">27 Feb, 2014 03:00</span>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span class="previous_page disabled">← Previous</span>
                <em class="current">1</em> 
                <a rel="next" href="topic/?page=2">2</a>  
                <a href="/topic/?page=3">3</a>  
                <a href="/topic/?page=4">4</a>  
                <a href="/topic/?page=5">5</a>  
                <a href="/topic/?page=6">6</a>  
                <a href="/topic/?page=7">7</a>  
                <a href="/topic/?page=8">8</a>  
                <a class="next_page" rel="next" href="/topic/?page=2">Next →</a>
            </div>
        </section>
    </main>
    <div class="clearfix"></div>

    <footer id="global-footer">

        <div class="clearfix"></div>
    </footer>
</body>

</html>
