<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Translate community</title>
    <meta name="description" content="Your questions about the Ghost blogging platform answered. Get help with Ghost problems or issues on our community support forum.">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    
    <!-- <link rel="shortcut icon" type="image/x-icon" href="https://ghost.org/assets/favicon-e13fe17b11ad125601924cfb260f20da.ico">
    <link rel="canonical" href="https://ghost.org/forum">
    <link rel="stylesheet" type="text/css" href="./The Ghost.org Forum - Support, Help and Questions_files/css">
    <link data-turbolinks-track="true" href="https://ghost.org/assets/application-818b55640a43600a0b2281e6bf13ddb4.css" media="all" rel="stylesheet">
    
    <meta content="authenticity_token" name="csrf-param">
    <meta content="lR9CGV5H5WARo8ySDfNRHeYqr9MSG4X1KBdXa8SWteE=" name="csrf-token"> -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:700,400,300">

    <link rel="stylesheet" type="text/css" href="../public/css/custom.css">

    <style type="text/css">
        .forum-table {
            margin-top: 0px;
        }
        .ghost {
            text-decoration: none;
        }
        .ghost-logo span {
            color: #fff;
            font-weight: 500;
            line-height: 26.7px;
            font-size: 17;
        }
        .btn {
            margin: 0 0 1.6em 0;
        }
        .translate textarea {
            padding: 10px;
            width: 100%;
            margin-bottom: 1.6em;
        }
    </style>
</head>

<body class="forum" data-logged-in-user="">
    <header id="global-header" class="navbar">
        <nav role="navigation">
            <div class="wrapper">
                <a class="ghost-logo" href="https://ghost.org/" with_host="true">
                    <span>Translate</span>
                </a>
                <button type="button" class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="hidden">Menu</span>
                </button>
                <ul id="main-menu" class="navbar-collapse collapse">
                    <li><a class="" href="https://ghost.org/" with_host="true">Dashboard</a>
                    </li>
                    <li><a class="" href="https://ghost.org/blogs/" with_host="true">My Blogs</a>
                    </li>
                    <li><a href="http://marketplace.ghost.org/">one</a>
                    </li>
                    <li><a href="http://docs.ghost.org/">process</a>
                    </li>
                    <li><a class=" current" href="" with_host="true"></a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="usermenu" href="https://ghost.org/forum/#">joeylin</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a class="" href="https://ghost.org/joeylin/" with_host="true">View my Profile</a>
                                </li>
                                <li><a class="" href="https://ghost.org/settings/profile/" with_host="true">Account Settings</a>
                                </li>
                                <li class="divider" role="presentation"></li>
                                <li><a class="logout" href="https://ghost.org/logout/" with_host="true">Log out</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="clearfix"></div>
    <main role="main">
        <section class="page-wrapper">
            <div class="notes">
                <span>小提示</span>
                <ul>
                    <li>带有橙色边框的段落是暂时还没有人翻译的，应该优先翻译这些段落</li>
                    <li>对于别人已经翻译过的段落，如果能认可改翻译结果，请点旁边的 [赞] 按钮；否则请点旁边的 [编辑] 按钮，修改为你理想的翻译结果，并点 [保存]</li>
                    <li>使用 Tab / Shift + Tab 可上下切换段落；使用 Alt + S / Shift + Alt + S 可上下切换未翻译的段落</li>
                    <li>本文档采用 Markdown 格式编写，翻译时也请保持原来的文档格式</li>
                </ul>
                <p>
                    <button class="btn btn-primary" id="btn-toggle">仅显示未翻译的段落</button>
                </p>
            </div>
            <hr>
            <div class="lines">
                <div class="line title translated" data-hash="8354884f6cbc64760f78c6749bdc8e37">
                    <div class="origin">
                        <span>原文</span>
                        <pre># Cluster</pre>
                    </div>
                    <div class="other" data-id="345">
                        <span class="info">老雷 翻译于 2013/9/15 16:21</span>
                        <pre># 集群</pre>
                        <button class="btn btn-xs btn-info vote-line"><i class="glyphicon glyphicon-thumbs-up"></i> 赞 (0)</button>
                        <button class="btn btn-xs btn-info edit-line"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
                    </div>
                    <div class="other" data-id="272">
                        <span class="info">采菊东篱下 翻译于 2013/9/15 16:26</span>
                        <pre># 集群</pre>
                        <button class="btn btn-xs btn-info vote-line"><i class="glyphicon glyphicon-thumbs-up"></i> 赞 (1)</button>
                        <button class="btn btn-xs btn-info edit-line"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
                    </div>
                    <div class="translate">
                        <textarea rows="1"># Cluster</textarea>
                        <button class="btn btn-xs btn-primary save-line"><i class="glyphicon glyphicon-ok"></i> 保存</button>
                        <span class="status"></span>
                    </div>
                </div>
                <hr>
                <div class="line title translated" data-hash="8354884f6cbc64760f78c6749bdc8e37">
                    <div class="origin">
                        <span>原文</span>
                        <pre># Cluster</pre>
                    </div>
                    <div class="other" data-id="345">
                        <span class="info">老雷 翻译于 2013/9/15 16:21</span>
                        <pre># 集群</pre>
                        <button class="btn btn-xs btn-info vote-line"><i class="glyphicon glyphicon-thumbs-up"></i> 赞 (0)</button>
                        <button class="btn btn-xs btn-info edit-line"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
                    </div>
                    <div class="other" data-id="272">
                        <span class="info">采菊东篱下 翻译于 2013/9/15 16:26</span>
                        <pre># 集群</pre>
                        <button class="btn btn-xs btn-info vote-line"><i class="glyphicon glyphicon-thumbs-up"></i> 赞 (1)</button>
                        <button class="btn btn-xs btn-info edit-line"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
                    </div>
                    <div class="translate">
                        <textarea rows="1"># Cluster</textarea>
                        <button class="btn btn-xs btn-primary save-line"><i class="glyphicon glyphicon-ok"></i> 保存</button>
                        <span class="status"></span>
                    </div>
                </div>               
            </div>
        </section>
    </main>
    <div class="clearfix"></div>

    <footer id="global-footer">
        <div class="clearfix"></div>
    </footer>
</body>

</html>
