
.form .form-control {
	padding: 4px 6px;
	margin-bottom: 10px;
	margin-left: 0;
	width: 206px;
}
.form label {
	font-weight: normal;
	margin-bottom: 10px;
}
.form .signup {
	display: inline-block;
	margin: 0 0 20px;
}
.form .btn {
    background-color:#535368;
    background-image:none;
    border-color: transparent;
    color: #e6e6e6;
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.form .btn:hover {
    color:#f2f2f2;
    background-color:#313146;
}

.dropdown-menu > li > a:hover {
	background-color: #428bca;
	color: #fff;
}
.dropdown-menu li > a {
	color: #555;
	line-height: 23px !important;
}
.dropdown-menu .fa {
	padding-right: 8px;
}
.navbar .nav-user-pic {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	display: inline-block;
}
.nav.nav-sidebar > li > a {
	padding: 7px 15px;
}
.nav-sidebar > .active > a:hover {
	color: #fff;
	background-color: #428bca;
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	background: #36404c;
}

