.sidebar-toc {
	position: fixed;
	top: 100px;
	bottom: 0;
	padding-bottom: 60px;
	overflow: auto;
	background-color: #d9d9d9;
}
.doc-title {
	position: fixed;
	top: 60px;
	width: 270px;
}
.doc-title-describe {
	float: right;
	line-height: 36px;
}
.doc-toc ul, .doc-toc li {
	list-style: none;
}
.grid-left {
	width: 270px;
}
.grid-right {
	margin-left: 270px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-body {
	margin-top: 60px;
	position: relative;
}
.content-loading, .toc-toggle {
	display: none;
}
.footer {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
	color: white;
}
.footer .color-white a {
	color: white;
}
.content .content-translate {
	padding: 20px 40px;
	border: 1px #ccc solid;
	position: relative;
	margin: 0 0 10px 0;
	background-color: #fdfdfd !important;
	min-height: 100px;
}

/* according rest style*/
.content-refer {
	margin-bottom: 10px;
}
.metro .accordion>.accordion-frame > .heading {
	padding: 5px 20px;
}
.metro .accordion.with-marker .heading:before {
	position: absolute;
	display: block;
	left: 5px;
	top: 7px;
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-top: 7px solid transparent;
	border-bottom: 7px solid black;
}

