.sidebar-toc {
	position: fixed;
	top: 100px;
	bottom: 0;
	padding-bottom: 60px;
	overflow: auto;
	background-color: #d9d9d9;
}
.doc-title {
	position: fixed;
	top: 60px;
	width: 270px;
}
.doc-title-describe {
	float: right;
	line-height: 36px;
}
.doc-toc ul, .doc-toc li {
	list-style: none;
}
.grid-left {
	width: 270px;
}
.grid-right {
	margin-left: 270px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main-body {
	margin-top: 60px;
	position: relative;
}
.content-loading, .toc-toggle {
	display: none;
}
.footer {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
	color: white;
}
.footer .color-white a {
	color: white;
}
