.page-main {
	background-color: #fdfdfd;
	margin-bottom: 45px !important;
	padding-bottom: 40px !important;
}
.home-header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 410px;
	background: #E3EDF3;
	background: url(../imgs/headerBg.jpg) no-repeat bottom center;
	background-size: cover;
	display: table;
	margin-top: 45px;
}
.home-header .home-title {
	line-height: 410px;
	text-align: center;
	color: #fff;
}
.home-main {
	margin-left: 40px;
	margin-right: 40px;
}
.home-main .screenshot {
	position: relative;
	top: -60px;
	height: 196px;
	width: 380px;
	float: left;
}
.home-main .content {
	float: left;
	width: 670px;
}
.home-main .content .content-text {
	margin: 28px 0;
	font-size: 19px;
	line-height: 31px;
}

.dashboard {
	border-top: 1px solid #ccc;
}
.dashboard-docs, .dashboard-post {
	border-right: 1px solid #ccc;
}
.dashboard .dashboard-list {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}
.social-index .star, .social-index .reply {
	padding: 0 5px 0 0;
	font-weight: 600;
}
.social-index .subcribe {
	padding: 0 5px 0 10px;
	font-weight: 600;
}
.dashboard-post .post-detail {
	padding: 5px 0 15px 0;
}
.dashboard-group {
	background: url(../imgs/group.png) no-repeat bottom center;
}
.dashboard-group .group-join {
	padding-top: 15px;
	padding-bottom: 194px;
	text-align: center;
}
.docs-submit {
	border-top: 1px solid #ccc;
	padding-top: 20px;
	text-align: center;
}
.docs-submit .docs-submit-text {
	font-size: 19px;
	line-height: 31px;
}

/* metro add style */
.metro .button.middle, .metro button.middle {
	padding: 7px 17px;
	font-size: 17.5px;
}


/* component login */
.login {
	position: relative;
	z-index: 500;
	width: 342px;
	max-width: 400px;
	padding: 20px 20px;
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	margin: 20px auto;
}
.login .login-header {
	text-align: center;
	padding-bottom: 20px;
}
.login .login-inline-label {
	float: right;
}
.login .login-ctrl {
	margin-top: 10px;
}

/* component signup */
.signup {
	position: relative;
	z-index: 500;
	width: 342px;
	max-width: 400px;
	padding: 20px 20px;
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	margin: 20px auto;
} 
.signup .signup-header {
	text-align: center;
	padding-bottom: 20px;
}

