
.form .form-control {
	padding: 4px 6px;
	margin-bottom: 10px;
	margin-left: 0;
	width: 206px;
}
.form label {
	font-weight: normal;
	margin-bottom: 10px;
}
.form .signup {
	display: inline-block;
	margin: 0 0 20px;
}
.form .btn {
    background-color:#535368;
    background-image:none;
    border-color: transparent;
    color: #e6e6e6;
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.form .btn:hover {
    color:#f2f2f2;
    background-color:#313146;
}