<div class="col-md-3">
  <div class="panel">
    <div class="panel-body" ng-show="!isFilter">
      <div class="form-group">
          <label>name</label>
          <input type="text" class="form-control" placeholder="Enter email" ng-model="name">
      </div>
      <div class="form-group">
          <label>location</label>
          <input type="text" class="form-control" placeholder="Enter location" ng-model="location">
      </div>
      <div class="form-group">
          <label>skill</label>
          <input type="text" class="form-control" placeholder="Enter skill" ng-model="skill">
      </div>
      <div class="form-group">
          <label>Company</label>
          <input type="text" class="form-control" placeholder="Enter Company" ng-model="keyword">
      </div>
      <div class="form-group">
          <label>School</label>
          <input type="text" class="form-control" placeholder="Enter School" ng-model="school">
      </div>
      <div class="clearfix">
        <a class="pull-left search-filter" role="button" ng-click="showFilter()">Filters</a>
        <a class="btn btn-primary pull-right" role="button" ng-click="submit()">submit</a>
      </div>
    </div>
    <div class="panel-body" ng-show="isFilter">
      <div class="clearfix">
        <!-- <span class="pull-left search-filter-note">click enter to filter item</span> -->
        <a class="btn btn-primary pull-right" role="button" ng-click="hideFilter()">Back</a>
      </div>
      <div class="form-group">
          <label>Past Company</label>
          <input type="text" class="form-control" placeholder="Enter pastCompany" ng-model="pastCompany" ng-keydown="enter($event,'pastCompany',pastCompany)">
      </div>
      <div class="form-group">
          <label>Current Company</label>
          <input type="text" class="form-control" placeholder="Enter CurrentCompany" ng-model="CurrentCompany" ng-keydown="enter($event,'CurrentCompany',CurrentCompany)">
      </div>
      <div class="form-group">
          <label>Industry</label>
          <input type="text" class="form-control" placeholder="Enter skill" ng-model="industry" ng-keydown="enter($event,'industry',industry)">
      </div>
      <div class="form-group">
          <label>Language</label>
          <input type="text" class="form-control" placeholder="Enter Company" ng-model="language" ng-keydown="enter($event,'language',language)">
      </div>
      <div class="form-group">
          <label>Years of Experence</label>
          <select class="form-control" ng-model="years" ng-change="addFilter('years',years)">
              <option>no</option>
              <option>0-2</option>
              <option>2-4</option>
              <option>4-7</option>
              <option>8+</option>
          </select>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="panel search-result">
    <div class="panel-heading">Results: 388</div>
    <div class="panel-body">
      <div class="media" ng-repeat="user in content">
        <a class="pull-left" ng-href="/profile/{{user.name}}" target="_self">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" ng-src="{{user.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a ng-href="profile/{{user.name}}" target="_self">{{user.name}}</a></h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{user.desc}}</div>
              <div class="search-people-info">{{user.info}}</div>
              <div class="search-people-relationship"><a href="#">{{user.similar}}</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button" ng-show="!user.isConnected" ng-click="connect(user)">connect</a>
              <a class="btn btn-primary pull-right" role="button" ng-show="user.isMe">edit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Joeylin</a></h4>
          <div class="row">
            <div class="col-md-9">
              <div>study at BUPT</div>
              <div class="search-people-info">China - Internet</div>
              <div class="search-people-relationship"><a href="#">relationship with you</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button" >connect</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Laolei</h4>
          <div class="row">
            <div class="col-md-9">
              <div>study at moumou gaozhong for three years and work at GuangZhou</div>
              <div class="search-people-info">China - Internet</div>
              <div class="search-people-relationship"><a href="#">relationship with you</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button">connect</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Leo</h4>
          <div class="row">
            <div class="col-md-9">
              <div>study at YanBian University for three years and work at GuangZhou</div>
              <div class="search-people-info">China - Internet</div>
              <div class="search-people-relationship"><a href="#">relationship with you</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button">connect</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': vm.pager.current === 0}" ng-click="prev()"><a href="#">Previous</a></li>
          <li ng-class="{'disabled': $scope.vm.pager.hasLast}" ng-click="next()"><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>