<div class="row" style="margin-bottom:30px;">
  <h4>Most Activity Groups</h4>
  <hr class="group-line">
  <div class="group-collects">
    <div class="row">
    	<div class="col-md-4" ng-repeat="item in popular">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="{{item.avatar}}" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						{{item.name}}
					</div>
					<div>
						<span>{{item.industry}}</span>
					</div>
					<div>
						<span>100/{{item.members.length}}</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    </div>
  </div>
</div>
<div class="row">
  <h4>Groups You May Like</h4>
  <hr class="group-line">
  <div class="group-collects">
    <div class="row">
    	<div class="col-md-4" ng-repeat="item in newGroup">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="{{item.avatar}}" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						{{item.name}}
					</div>
					<div>
						<span>{{item.industry}}</span>
					</div>
					<div>
						<span>100/{{item.members.length}}</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    	<div class="col-md-4">
    		<div class="carbonad clearfix">
				<span class="carbonad-image pull-left">
					<a href="#">
						<img class="carbonad-image carbonad-img" src="/public/imgs/angularjs.png" title="Hack Reactor" alt="Hack Reactor">
					</a>
				</span>
				<div class="carbonad-info">
					<div class="carbonad-title">
						AngularJS
					</div>
					<div>
						<span>frontend</span>
					</div>
					<div>
						<span>500/100</span>
					</div>
				</div>	
    		</div>
    	</div>
    </div>
  </div>
</div>