<div class="col-md-6 user-form">
    <h3 class="text-center clearfix">
        创建您的职业档案
    </h3>
    <form id="formUser" ng-cloak>
        <div class="row">
            <div class="col-xs-3">
                <label>常住地 :</label>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-md-6" style="padding-right:0;">
                        <select class="provinceSelect form-control" ng-model="vm.province" ng-change="changePro()">
                            <option value="">省/区/直辖市</option>
                            <option ng-repeat="province in provinces" value="{{province.ProID}}">{{province.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="provinceSelect form-control" ng-model="vm.city" ng-options="city.name for city in cities">
                            <option value="">市/区</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label>职业 :</label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" ng-model="occupation" type="text" placeholder="从事或兴趣的, 比如 node.js开发" required="">
            </div>
        </div>
        <div class="row" style="margin-bottom:13px;">
            <div class="col-xs-3">
                <label>当前状态 :</label>
            </div>
            <div class="col-xs-9">
                <select class="form-control" ng-model="status" style="width:170px; position:relative;top:1px; margin-right:10px;" id="currentStatus">
                    <option value="">当前状态</option>
                    <option value="a">在职</option>
                    <option value="b">待业</option>
                    <option value="c">在校生</option>
                    <option value="d">自由职业</option>
                </select>
            </div>
            <div class="col-md-12">
                
                
            </div>
        </div>
        <!-- professional student -->
        <div class="row" ng-show="status==='c'">
            <div class="col-xs-3">
                <label>就读院校 :</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control"  ng-model="school" placeholder="就读的院校">
            </div>
        </div>
        <div class="row" ng-show="status==='a'">
            <div class="col-xs-3">
                <label>就职公司 :</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" ng-model="company" placeholder="所在的公司">
            </div>
        </div> 
        <div class="clearfix signupFooter">
            <a type="buttom" class="btn btn-primary btn-sm pull-right" ng-click="submit()">创建</a>
            <div class="form-group has-error pull-right" ng-show="showBlankError">
                <label class="control-label" for="inputError"><i class="fa fa-times-circle-o" style="margin-right:5px;"></i>你的信息填写不完整哦。</label>
            </div>
        </div>
    </form>
</div>
<div class="col-md-5 text-center">
    <div class="profile-feature text-left">
        <h4>我们可以为您做什么?</h4>
        <div class="profile-items">
            <div class="profile-item">
                <i class="fa fa-fw fa-check"></i> 交流专业知识
            </div>
            <div class="profile-item">
                <i class="fa fa-fw fa-check"></i> 认识专业人才
            </div>
            <div class="profile-item">
                <i class="fa fa-fw fa-check"></i> 发现工作机会
            </div>
            <div class="profile-item">
                <i class="fa fa-fw fa-check"></i> 关注领域动态
            </div>
        </div>
    </div>
</div>
