<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <meta charset="utf-8">
	    <meta name="fragment" content="!">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title ng-bind="global.title2+' | '+global.title">AngularJS中文社区</title>
	    <meta name="title" content="{{global.metatitle}}">
	    <meta name="description" content="{{global.metadesc}}">
	    <meta name="keywords" content="{{global.keywords}}">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	    <link rel="stylesheet" href="/public/css/metro-bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/metro-bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/public/css/iconFont.min.css">
        <link rel="stylesheet" href="/public/css/prettify.css">
        <link rel="stylesheet" type="text/css" href="/public/css/custom.css">

	    <script src="/public/bower_components/reserveLoadjs/reserveLoad.js"></script>
	</head>
	<body class="metro">
		<header class="bg-dark" data-load="header.html">
            <div class="navigation-bar fixed-top dark">
                <nav class="navigation-bar-content container">
                    <a href="/" class="element">Transalte </a>
                    <span class="element-divider"></span>
                    <a href="/" class="element">home </a>
                    <a href="/" class="element">Post </a>
                    <a href="/" class="element">Group </a>
                    <a href="/" class="element">FQ </a>

                    <div  class="element place-right" ng-if="global.isLogin">
                    	<a ng-href="#" class="place-right">sign out</a>
                    	<a ng-href="#" class="place-right">{{global.user.name}}</a>
                    </div>
                    <div class="place-right" ng-if="!global.isLogin">
                    	<a href="/login" class="element place-right popup-with-form">LOG IN</a>
                    	<a href="/register" class="element place-right popup-with-form">SIGN UP</a>
                    </div>
                </nav>
            </div>
        </header>
	 	
	 	<section class="fluid grid main-body">
            <div class="row" ng-view>
            </div>
        </section>

        <footer class="footer bg-dark no-tablet-portrait no-phone">
            <div class="container fg-white">
                <ul class="horizontal-menu compact color-white" style="color:#fff">
                    <li>@ 2014 Translate</li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
        </footer>
        <div class="loading" ng-show="loading.show"></div>
        <script>
			reserveLoad(
				'/public/bower_components/jquery/jquery.js',
				'/public/bower_components/angular/angular.js',
				'/public/bower_components/angular-animate/angular-animate.js',
				'/public/bower_components/angular-animate/angular-animate.js',
				'/public/bower_components/angular-cookies/angular-cookies.js',
				'/public/bower_components/angular-resource/angular-resource.js',
				'/public/bower_components/angular-route/angular-route.js',
				'/public/bower_components/angular-file-upload/angular-file-upload.js',
				'/public/bower_components/google-code-prettify/src/prettify.js',
				'/public/bower_components/marked/lib/marked.js',
				'/public/bower_components/toastr/toastr.js',
				'/public/js/lib/angular-locale_zh-cn.js',
				'/public/js/lib/angular-ui.js',
				'/public/js/lib/bootstrap.js',
				'/public/js/lib/hmac-sha256.js',
				'/public/js/lib/Markdown.Editor.js',
				'/public/js/lib/sanitize.js',
				'/public/js/lib/store.js',
				'/public/js/lib/utf8.js',
				'/public/js/locale_zh-cn.js',
				'/public/js/tools.js',
				'/public/js/router.js',
				'/public/js/services.js',
				'/public/js/filters.js',
				'/public/js/directives.js',
				'/public/js/controllers.js',
				'/public/js/app.js',
				function (errorUrl) {
					if (errorUrl) {
						alert('Error loading: ' + errorUrl);
					} else {
						angular.bootstrap(document, ['jsGen']);
					}
				}
			);
	    </script>
	</body>
</html>