<div>总申请数: 100</div>
<div>待审核的圈子: 20</div>
<div>已通过审核的圈子: 80</div>
<hr>

<div class="well" ng-repeat="item in content">
	<div class="" style="margin-bottom:10px;">圈名 : {{item.name}}</div>
	<div class="" style="margin-bottom:10px;">申请人 : <a href="/profile/{{item.user.id}}">{{item.user.name}}</a></div>
	<div class="" style="margin-bottom:20px;">申请理由 : {{item.reason}}</div>
	<div class="clearfix" ng-show="!item.showMsgBtn && !item.hasDisposed">
		<a href="" class="btn btn-primary btn-sm" ng-click="vm.pass(item)">通过</a>
		<a href="" class="btn btn-default btn-sm" ng-click="vm.toggleMsg(item)">拒绝</a>
	</div>
	<div style="width:360px;" ng-if="item.showMsgBtn && !item.hasDisposed" id="{{item._id}}">
		<textarea auto-height class="form-control" ng-model="item.msg" placeholder="请简短的输入拒绝的理由"></textarea>
		<div class="text-left">
			<button class="btn btn-primary btn-sm" ng-click="vm.fail(item)">发送</button>
			<button class="btn btn-default btn-sm" ng-click="item.showMsgBtn=false;">取消</button>
		</div>   
	</div>
	<div ng-if="item.hasDisposed">
		<div ng-show="item.isPass">已通过审核</div>
		<div ng-show="!item.isPass">已拒绝，原因: {{item.msg}}</div>
	</div>
</div>