
<!--toggle sidebar button-->
<p class="visible-xs">
	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
		<i class="glyphicon glyphicon-chevron-left"></i>
	</button>
</p>

<h1 class="page-header">
  <div class="lead pull-right">
	<a href="#" class="btn btn-default" ng-show="doc.chapter.status.reading">translate</a>
	<a href="#" class="btn btn-default" ng-show="doc.chapter.status.reading">origin</a>
	<!-- <a href="#" class="btn btn-default">translated</a>
	<a href="#" class="btn btn-default">back</a> -->
  </div>
  {{doc.title}}
</h1>

<div ts-parse-md="doc.chapter.sections" ng-if="!doc.translate"></div>
<div ng-if="doc.translate">
	<div class="content-translate" ng-repeat="section in doc.chapter.sections" sId="{{section.id}}">
		<p>{{section.md}}</p>
		<div class="accordion with-marker content-refer" data-role="accordion" ng-repeat="translate in section.translates">
			<div class="accordion-frame">
				<a href="#" class="heading collapsed">{{translate.author}} at {{translate.date}}</a>
				<div class="content">
					<p>{{translate.content}}</p>
				</div>
			</div>
		</div>
		<div class="input-control textarea margin-top5">
			<textarea>{{section.md}}</textarea>
		</div>
		<div class="clearfix">
			<button  sId="{{section.id}}" class="info place-right">save</button>
		</div>
	</div>
</div>

	

				