
<!--toggle sidebar button-->
<p class="visible-xs">
	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
		<i class="glyphicon glyphicon-chevron-left"></i>
	</button>
</p>

<div class="">
  <div class="lead pull-right" ng-show="status.read">
	<a href="#" class="btn btn-default" >translate</a>
	<a href="#" class="btn btn-default" >origin</a>
  </div>
  <div class="lead pull-right" ng-show="status.translate">
	<a href="#" class="btn btn-default" >translate</a>
	<a href="#" class="btn btn-default" >origin</a>
  </div>
  <div class="lead pull-right" ng-show="status.origin">
	<a href="#" class="btn btn-default" >translate</a>
	<a href="#" class="btn btn-default" >origin</a>
  </div>
</div>

<div ts-parse-md="doc.chapter.sections" ng-if="!doc.translate"></div>
<div ng-if="doc.translate">
	<div class="content-translate" ng-repeat="section in doc.chapter.sections" sId="{{section.id}}">
		<p>{{section.md}}</p>
		<div class="accordion with-marker content-refer" data-role="accordion" ng-repeat="translate in section.translates">
			<div class="accordion-frame">
				<a href="#" class="heading collapsed">{{translate.author}} at {{translate.date}}</a>
				<div class="content">
					<p>{{translate.content}}</p>
				</div>
			</div>
		</div>
		<div class="input-control textarea margin-top5">
			<textarea>{{section.md}}</textarea>
		</div>
		<div class="clearfix">
			<button  sId="{{section.id}}" class="info place-right">save</button>
		</div>
	</div>
</div>

	

				