
<div class="content-loading" >loading</div>
<div class="content">
    <div class="control-btn clearfix">
        <div class="place-right control-switch">
            <div class="input-control radio default-style" data-role="input-control">
                <label>
                    <input type="radio" name="r1" checked="">
                    <span class="check"></span>
                    translate
                </label>
            </div>
            <div class="input-control radio  default-style" data-role="input-control">
                <label>
                    <input type="radio" name="r1">
                    <span class="check"></span>
                    orginal
                </label>
            </div>
        </div>
        <div class="place-right control-translate">
            <button class="info" ng-click="doc.makeTranslate()"><i class="icon-rocket on-left"></i>translate</button>
        </div>                               
    </div>
    <div class="content-inner" ts-parse-md="doc.chapter.sections" ng-if="!doc.translate">
    </div>
    <div class="content-inner" ng-if="doc.translate">
        <div class="content-translate" ng-repeat="section in doc.chapter.sections" sId="{{section.id}}">
            <p>{{section.md}}</p>
            <div class="accordion with-marker content-refer" data-role="accordion" ng-repeat="translate in section.translates">
                <div class="accordion-frame">
                    <a href="#" class="heading collapsed">{{translate.author}} at {{translate.date}}</a>
                    <div class="content">
                        <p>{{translate.content}}</p>
                    </div>
                </div>
            </div>
            <div class="input-control textarea margin-top5">
                <textarea>{{section.md}}</textarea>
            </div>
            <div class="clearfix">
                <button  sId="{{section.id}}" class="info place-right">save</button>
            </div>
        </div>
    </div>
</div>

                