<section id="login-form" class="login">
    <header class="login-header">
        <h2>Log in to Your Account</h2>
    </header>
    <form class="auth-form" accept-charset="UTF-8" novalidate >
        <div class="input-control text">
            <input name="username" type="text" placeholder="Username or Email" ng-model="login.logname" gen-tooltip="validateTooltip" required />
            <button class="btn-clear" ng-click="clearUsername()"></button>
        </div>
        <div class="input-control password">
            <input name="password" type="password" placeholder="Password" ng-model="login.logpwd" ng-minlength="6" ng-maxlength="20" gen-tooltip="validateTooltip" required />
            <button class="btn-reveal" ng-click="clearPassword()"></button>
        </div>
        <label class="login-inline-label">
            <input id="login-remember" type="checkbox" ng-model="login.logauto">
            <span class="auth-inline-span">Keep me logged in</span>
            <p class="login-question"><a href="#/login/recover/">Forgotten Your Password?</a>
            </p>
        </label>
        <div class="login-ctrl">
            <button class="button-save login-button middle info" type="submit" ng-click="submit()">Login</button>
        </div>
    </form>
</section>