<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <h4><span ng-bind="title"></span></h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat-start="job in content">
        <a class="pull-left" ng-href="/api/profile/{{job.owner.id}}" target="_self">
          <img class="media-object" alt="64x64" ng-src="{{job.owner.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{job.position}} <small> <a href="/profile/{{job.owner.id}}">{{job.owner.name}}</a></small></h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{job.summary}}</div>
              <div> <strong>Payment</strong>: {{job.paymentStart}}k-{{job.paymentEnd}}k</div>
              <div> <strong>Experience</strong>: {{job.workYears}}</div>
              <div> <strong>Type</strong>: {{job.type}} </div>
              <div> <strong>Degree</strong>: {{job.degree}}</div>
              <div class="search-job-location"><strong>location</strong>: {{job.location}}</div>
              <div> <strong>Skills</strong>: {{job.skills}}</div>
              <div>
                <a href="#" class="search-job-date">Posted at {{job.date | formatDate:true}} </a>
                <span> views: {{job.views}}</span>
                <span> Join: {{job.join}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pull-right job-op">
                <a class="btn" role="button" href="/view/{{job.id}}" target="_self">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr ng-repeat-end>
      <!-- <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Web Developer <small>[<a href="#">AmazingSurge</a>]</small></h4>
          <div class="row">
            <div class="col-md-9">
              <div>10k-20k | 2-8 years | full-time | master | FuZhou</div>
              <div> <strong>Skills</strong>: nodejs html5 css js angular</div>
              <div>Ask for nodejs developer, code review, write document, communicate with customer</div>
              <div>
                <a href="#" class="search-job-date">Posted at 2 hours ago </a>
                <span> Views: 1000</span>
                <span> Join: 53</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pull-right job-op">
                <a class="btn saved" role="button">Saved</a>
                <a class="btn" role="button">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">SmashMagzine</h4>
          <div class="row">
            <div class="col-md-9">
              <div>Ask for nodejs developer, code review, write document, communicate with customer</div>
              <div> <strong>Payment</strong>: 10k-20k</div>
              <div> <strong>Number</strong>: 2-8</div>
              <div> <strong>Skills</strong>: nodejs html5 css js angular</div>
              <div class="search-job-location"><strong>location</strong>: FuZhou</div>
              <div>
                <a href="#" class="search-job-date">Posted at 2 hours ago </a>
                <span> Views: 1000</span>
                <span> Join: 53</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pull-right job-op">
                <a class="btn" role="button">Save</a>
                <a class="btn" role="button">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">CssTrick</h4>
          <div class="row">
            <div class="col-md-9">
              <div>Ask for nodejs developer, code review, write document, communicate with customer</div>
              <div> <strong>Payment</strong>: 10k-20k</div>
              <div> <strong>Number</strong>: 2-8</div>
              <div> <strong>Skills</strong>: nodejs html5 css js angular</div>
              <div class="search-job-location"><strong>location</strong>: FuZhou</div>
              <div>
                <a href="#" class="search-job-date">Posted at 2 hours ago </a>
                <span> Views: 1000</span>
                <span> Join: 53</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pull-right job-op">
                <a class="btn" role="button">Save</a>
                <a class="btn" role="button">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr> -->
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': vm.pager.current === 0}" ng-click="prev()"><a href="#">Previous</a></li>
          <li ng-class="{'disabled': $scope.vm.pager.hasLast}" ng-click="next()"><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body" ng-show="!isFilter">
      <div class="form-group">
          <label>keyword</label>
          <input id="keyword" type="text" class="form-control" placeholder="Enter keyword" ng-model="keyword" ng-keydown="enter($event,'keyword',keyword)">
      </div>  
      <div class="clearfix" ng-show="showSubmitBtn">
        <a id="keywordBtn" class="btn btn-primary pull-right btn-sm" role="button" ng-click="submit()">submit</a>
      </div>
      <hr style="margin-bottom:13px;"> 
      <div class="form-group">
          <label>Type</label>
          <select class="form-control" ng-model="type" ng-change="addFilter('type',type)">
              <option value="">all</option>
              <option>part-time</option>
              <option>full-time</option>
              <option>intern</option>
          </select>
      </div>
      <div class="form-group">
          <label>location</label>
          <select class="form-control" ng-model="location" ng-change="addFilter('location',location)">
              <option value="">noLimit</option>
              <option>FuZhou</option>
              <option>BeiJing</option>
              <option>WuHan</option>
              <option>ChangSha</option>
          </select>
      </div>
      <div class="form-group">
          <label>payment</label>
          <select class="form-control" ng-model="payment" ng-change="addFilter('payment',payment)">
              <option value="">all</option>
              <option>below 2k</option>
              <option>2k-5k</option>
              <option>5k-10k</option>
              <option>10k-15k</option>
              <option>15k-25k</option>
              <option>25k-50k</option>
              <option>above 50k</option>
          </select>
      </div>
      <div class="form-group">
          <label>Degree</label>
          <select class="form-control" ng-model="degree" ng-change="addFilter('degree',degree)">
              <option value="">noLimit</option>
              <option>diploma</option>
              <option>bachelor</option>
              <option>master</option>
              <option>doctor</option>
          </select>
      </div>
      <div class="form-group">
          <label>Years of Experence</label>
          <select class="form-control" ng-model="years" ng-change="addFilter('years',years)">
              <option value="">noLimit</option>
              <option>graduating</option>
              <option>below 1</option>
              <option>1-3</option>
              <option>3-5</option>
              <option>5-10</option>
              <option>10+</option>
          </select>
      </div>
      
      <!-- <div class="clearfix">
        <a class="pull-right search-filter" role="button" ng-click="showFilter()">Filters</a>
      </div> -->
    </div>
    <!-- <div class="panel-body" ng-show="isFilter">
      <div class="clearfix">
        <a class="btn btn-primary pull-right btn-sm" role="button" ng-click="hideFilter()">Back</a>
      </div>
      <div class="form-group">
          <label>Past Company</label>
          <input type="text" class="form-control" placeholder="Enter pastCompany" ng-model="pastCompany" ng-keydown="enter($event,'pastCompany',pastCompany)">
      </div>
      <div class="form-group">
          <label>Current Company</label>
          <input type="text" class="form-control" placeholder="Enter currentCompany" ng-model="currentCompany" ng-keydown="enter($event,'currentCompany',currentCompany)">
      </div>
      <div class="form-group">
          <label>Industry</label>
          <input type="text" class="form-control" placeholder="Enter skill" ng-model="industry" ng-keydown="enter($event,'industry',industry)">
      </div>
      <div class="form-group">
          <label>Language</label>
          <input type="text" class="form-control" placeholder="Enter Company" ng-model="language" ng-keydown="enter($event,'language',language)">
      </div>
    </div> -->
  </div>
</div>