<div class="profile-body col-md-9">
  <div class="panel search-result myCollect">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <h4 ng-show="!collect.isSearch"><i class="fa fa-fw fa-asterisk" style="margin-right:10px;"></i><span>我的收藏</span></h4>
          <h4 ng-show="collect.isSearch"><i class="fa fa-fw fa-search"></i> 搜索 <small><a href="" ng-click="collect.getAll()" style="padding-left:15px">返回我的收藏 <i class="fa fa-fw fa-angle-double-right"></i></a></small></h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat-start="share in shareList">
        <a class="pull-left" href="/group/{{share.group.id}}" target="_self" ng-if="share.group">
          <img class="media-object" alt="64x64" ng-src="{{share.group.avatar + '-small'}}" style="width: 50px; height: 50px;">
        </a>
        <a class="pull-left" ng-href="/profile/{{share.user.id}}" target="_self" ng-if="!share.group">
          <img class="media-object" alt="64x64" ng-src="{{share.user.avatar + '-small'}}" style="width: 50px; height: 50px;">
        </a>
        <div class="media-body">
          <span class="hover-tag" ng-click="collect.cancel(share)"><i class="fa fa-fw fa-times"></i></span>
          <h4 class="media-heading" ng-if="!share.group">{{share.user.name}}</h4>
          <h4 class="media-heading clearfix" ng-if="share.group">
            {{share.group.name}} <small style="padding-left:5px;">来自 <a href="/profile/{{share.user.id}}" target="_self">{{share.user.name}}</a> 的发布</small>
          </h4>
          <div>
            <p md-content="share.content"></p>
            <div class="forkContent" ng-if="share.isFork">
              <p ng-if="share.from.group"><a href="/profile/{{share.from.user.id}}" target="_self">{{'@' + share.from.user.name}}</a> 发布于 <a href="/group/{{share.from.group.id}}" target="_self">{{share.from.group.name}}</a></p>
              <p ng-if="!share.from.group"><a href="/profile/{{share.from.user.id}}" target="_self">{{'@' + share.from.user.name}}</a></p>
              <p md-content="share.from.share.content"></p>
              <div class="date" style="color:#99a1a6;font-size:0.9em;">{{share.from.share.createAt | formatDate:true}}</div>
            </div>
          </div>
          <div class="clearfix media-info">
            <!-- <i class="fa fa-fw fa-clock-o" style="margin-right:3px; color:#999;"></i> -->
            <span class="date pull-left">{{share.createAt | formatDate:true }}</span>
            <span class="pull-right media-control">
              <a href="#" class="like" ng-class="{liked:share.liked}"><i class="fa fa-fw fa-thumbs-o-up" ng-click="vm.toggleLike(share)"></i>({{share.likes}})</a>
              <a href="#" class="comment" ng-click="vm.toggleComment(share)"><i class="fa fa-fw fa-comments"></i>({{share.commentsCount}})</a>
            </span>
          </div>
          <div class="reply-container" ng-show="share.isShowComment">
            <div class="comment-editor">
                <textarea auto-height atwho="userList" class="form-control" rows="1" placeholder="Enter ..." ng-model="share.newComment"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm pull-right reply-submit" type="button" ng-click="vm.submitComment(share)">评论</button>
                </span>
            </div>
            <hr class="reply-hr" ng-repeat-start="comment in share.comments">
            <div class="media reply-item" ng-repeat-end>
              <a class="pull-left" ng-href="/profile/{{comment.user.id}}" target="_self">
                <img class="media-object" alt="34x34" ng-src="{{comment.user.avatar + '-sm'}}" style="width: 34px; height: 34px;">
              </a>
              <div class="media-body">
                <p class="reply-content"><span class="reply-user"><a href="#">{{comment.user.name}}</a>: </span><span md-content="comment.content"></span></p>
                <div class="clearfix media-info">
                  <span class="date pull-left">{{comment.date | formatDate:true}}</span>
                  <span class="pull-right media-control">
                    <a href="#" class="comment" ng-show="comment.user.name === global.user.name || global.user.name === share.user.name" ng-click="vm.delete(comment, share)"><i class="fa fa-fw fa-trash-o"></i></a>
                    <a href="#" class="comment" ng-click="vm.reply(comment)">回复</a>
                  </span>
                </div>
                <div class="input-group comment-editor comment-editor-inline" ng-show="comment.isShowReply">
                    <textarea auto-height atwho="userList" class="form-control" rows="1" placeholder="Enter ..." ng-model="comment.newComment"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="vm.submitInlineComment(comment,share)">评论</button>
                    </span>
                </div>
              </div>
            </div>
            <hr class="reply-hr" ng-show="share.comments.length < share.commentsCount">
            <div ng-show="share.comments.length < share.commentsCount" class="clearfix">
              <a class="pull-right" href="/view/{{share.id}}" target="_blank">查看更多评论 <i class="fa fa-fw fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <hr ng-repeat-end>
      <div ng-show="shareList.length > 0">
        <ul class="pager">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
          <label> 关键字</label>
          <input type="text" class="form-control" placeholder="输入关键字" ng-model="collect.searchName">
      </div>
      <div class="clearfix">
        <a class="btn btn-primary pull-right" role="button" ng-click="collect.enter()">搜索</a>
      </div>
    </div>
  </div>
</div>