<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <h4>All Follows</h4>
        </div>
        <div class="col-md-4 pull-right">
          <input type="text" class="form-control" placeholder="search by name" ng-model="name" ng-keydown="enter($event)">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat="company in content">
        <a class="pull-left" ng-href="/company/{{company.id}}">
          <img class="media-object" alt="64x64" ng-src="{{company.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{company.name}}</h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{company.industry}}</div>
              <div class="search-company-info">{{company.info}}</div>
              <div class="search-company-relationship"><a href="#">{{company.similar}}</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-default pull-right" role="button" ng-click="vm.unFollow(company)">Followed</a>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">AmazingSurge</h4>
          <div class="row">
            <div class="col-md-9">
              <div>Computer Software</div>
              <div class="search-company-info">China - Internet</div>
              <div class="search-company-relationship"><a href="#">Find Friends</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-default pull-right" role="button">unfollow</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">SamshMagzing</h4>
          <div class="row">
            <div class="col-md-9">
              <div>Computer Software</div>
              <div class="search-company-info">China - Internet</div>
              <div class="search-company-relationship"><a href="#">Find Friends</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-default pull-right" role="button" >unfollow</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Snapchat</h4>
          <div class="row">
            <div class="col-md-9">
              <div>Computer Software</div>
              <div class="search-company-info">China - Internet</div>
              <div class="search-company-relationship"><a href="#">Find Friends</a></div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-default pull-right" role="button">unfollow</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': vm.pager.current === 0}" ng-click="prev()"><a href="#">Previous</a></li>
          <li ng-class="{'disabled': $scope.vm.pager.hasLast}" ng-click="next()"><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="people-sort-title">SortBy industry</div>
      <ul class="people-sort-list">
        <li><a href="#">Internet (10)</a></li>
        <li><a href="#">Electronic (15)</a></li>
        <li><a href="#">Sale (20)</a></li>
        <li><a href="#">House (11)</a></li>
      </ul>
      <div class="people-sort-title">SortBy location</div>
      <ul class="people-sort-list">
        <li><a href="#">Beijing (10)</a></li>
        <li><a href="#">Fuzhou (15)</a></li>
        <li><a href="#">ShenZhen (20)</a></li>
        <li><a href="#">GuangZhou (11)</a></li>
      </ul>
    </div>
  </div>
</div>