<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <h4 ng-show="!isSearch">我的兴趣圈</h4>
          <h4 ng-show="isSearch">搜索 <small><a href="" ng-click="refresh()" style="padding-left:15px">返回我的兴趣圈 <i class="fa fa-fw fa-angle-double-right"></i></a></small></h4>
        </div>
        <div class="col-md-4 pull-right">
          <a popup data-mfp-src="#create-popup" class="btn btn-primary pull-right btn-sm" role="button" style="margin-top: 6px;">创建圈子</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat-start="group in content">
        <a class="pull-left" href="/group/{{group.id}}" target="_self">
          <img class="media-object" alt="64x64" ng-src="{{group.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{group.name}}</h4>
          <div class="row">
            <div class="col-md-8">
              <div>{{group.industry}}</div>
              <div class="search-company-relationship">成员: {{group.count}} | 关注: {{group.followCount}}</div>
            </div>
            <div class="col-md-3" ng-show="group.update > 0">
              <a href="/group/{{group.id}}" target="_self" class="pull-right">查看<i class="fa fa-fw fa-angle-double-right"></i></a>
            </div>
            <div class="col-md-3" ng-show="group.update === 0">
              <span class="pull-right">no update</span>
            </div>
          </div>
        </div>
      </div>
      <hr ng-repeat-end ng-class="{displayNone:$last}">
      <hr ng-show="content.length > 0 && share.pager">
      <div ng-show="content.length > 0 && share.pager">
        <ul class="pager" style="font-size:12px;">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
          <label>查找兴趣圈</label>
          <input type="text" class="form-control" placeholder="输入关键字 或 ID" ng-model="vm.keyword">
      </div>
      <div class="clearfix">
        <span class="pull-left group-check" ng-click="vm.isMe = !vm.isMe"><i class="fa fa-fw" ng-class="{true:'fa-check-square-o', false:'fa-square-o'}[vm.isMe]"></i>我的兴趣圈</span>
        <a class="btn btn-primary btn-sm pull-right" role="button" ng-click="search()">搜索</a>
      </div>
    </div>
  </div>
</div>

<!-- magnifi popup -->
<div id="create-popup" class="white-popup-block mfp-hide createContainer" ng-if="groupCount <= 4">
    <div><h3 class="text-center">创建兴趣圈({{groupCount + 1}}/5)</h3></div>
    <div class="row">
      <div class="col-md-3">
        <label class="inline-label">圈名 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" placeholder="输入圈名" ng-model="vm.name" ng-change="change()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="inline-label">行业 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" placeholder="所属行业" ng-model="vm.industry" ng-change="change()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="inline-label">申请理由 :</label>
      </div>
      <div class="col-md-9">
        <textarea auto-height type="text" class="form-control" placeholder="简要说明申请理由" ng-model="vm.reason" ng-change="change()"></textarea>
      </div>
    </div>
    <div class="clearfix">
      <a href="#" class="btn btn-primary pull-right" ng-click="create()">创建</a>
      <span class="pull-right error" ng-show="error" style="line-height: 35px; margin-right:15px;">信息填写不完整</span>
    </div>
</div>
<div id="create-popup" class="white-popup-block mfp-hide createContainer" ng-if="groupCount > 4">
    普通会员只能创建5个圈子
</div>