<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-12 pull-right">
          <div class="job-filter">
            <a href="#" ng-class="{active: tag==='all'}" ng-click="selectTag('all')">全部</a>
            <a href="#" ng-class="{active: tag==='publish'}" ng-click="selectTag('publish')">已发布</a>
            <a href="#" ng-class="{active: tag==='close'}" ng-click="selectTag('close')">已关闭</a>
            <a href="#" ng-class="{active: tag==='draft'}" ng-click="selectTag('draft')">草稿</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat-start="job in content">
        <div class="media-body">
          <h4 class="media-heading">{{job.position}} <small><span>{{job.company}}</span> [{{job.status | statusCn}}]</small></h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{job.summary}}</div>
              <div> <strong>薪资</strong>: {{job.paymentStart}}k-{{job.paymentEnd}}k</div>
              <div> <strong>工作经验</strong>: {{job.workYears}}</div>
              <div> <strong>工作性质</strong>: {{job.type}} </div>
              <div> <strong>最低学历</strong>: {{job.degree}}</div>
              <div class="search-job-location"><strong>工作地点</strong>: {{job.location}}</div>
              <div> <strong>要求技能</strong>: {{job.skills}}</div>
              <div>
                <a href="#" class="search-job-date">{{job.date | formatDate:true}} </a>
                <span> 查阅: {{job.views}}</span>
                <span> 申请: {{job.join}}</span>
              </div>
            </div>
            <div class="col-md-3 job-op" ng-if="job.status==='draft'">
              <span><a href="/jobs/{{job.id}}/edit" target="_self">编辑</a></span>
              <span><a href="" ng-click="remove(job)">删除</a></span>
            </div>
            <div class="col-md-3 job-op" ng-if="job.status==='publish'">
              <span><a href="/job/{{job.id}}" target="_self">查看</a></span>
              <span><a href="" ng-click="close(job)">关闭</a></span>
            </div>
            <div class="col-md-3 job-op" ng-if="job.status==='close'">
              <span><a href="/job/{{job.id}}" target="_self">查看</a></span>
              <span><a href="" ng-click="remove(job)">删除</a></span>
            </div>
          </div>
        </div>
      </div>
      <hr ng-repeat-end>

      <div>
        <ul class="pager">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-heading text-center clearfix">
      <div style="display:inline-block;"><a class="btn btn-primary pull-right btn-sm" href="/jobs/new" target="_self" role="button" style="margin-top: 6px;">发布职位</a></div>
    </div>
  </div>
</div>