<div class="profile-body col-md-9 people">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <h4><span ng-bind="title"></span></h4>
        </div>
        <div class="col-md-4 pull-right">
          <input type="text" class="form-control" placeholder="根据名字过滤" ng-model="vm.filter.name">
        </div>
      </div>
    </div>
    <div class="panel-body" ng-show="!loading">
      <div class="row">
        <div class="col-md-3" ng-repeat="user in content|filter:vm.filter" >
          <div class="thumbnail">
            <a href="/profile/{{user.id}}" target="_self">
                <img ng-src="{{user.avatar + '-big'}}" alt="{{user.name}}" />
            </a>
            <div class="caption">
              <div><a href="/profile/{{user.id}}" target="_self">{{user.name}}</a></div>
              <div style="white-space: nowrap;overflow: hidden;">{{user.location}} | {{user.occupation}}</div>
              <div relselect user="user" class="addBtn text-center" style="width:100%;overflow:hidden;height:24px;">
                <span>{{user.relate}}</span>
              </div>
            </div>
            <a href="/profile/{{user.id}}" target="_self" class="hover-remove">
              <div class="hover-container">
                <i popup data-mfp-src="#remove-user" class="fa fa-fw fa-times-circle" ng-click="vm.triggerRemove(user,$event)"></i>
                <span class="hover-tip">删除好友</span>
              </div>
            </a>
          </div>
        </div>
        <div ng-if="!content.length" class="text-center" style="margin:20px 0;">
          你还没添加任何好友，快去添加吧 !
        </div>
        <div ng-if="content.length">
          <div ng-hide="content|filter:vm.filter|size" class="text-center" style="margin:20px 0;">ooh~~ 没有找到 ~~</div>
        </div>
      </div>
      <hr ng-show="content|filter:vm.filter|size">
      <div>
        <pager total-items="content|filter:vm.filter|size" ng-model="vm.page.index" items-per-page="vm.page.size" class="pagination-sm pull-right" boundary-links="true"></pager>
      </div>
    </div>
    <div class="panel-body" style="padding-right:20px;" ng-show="loading">
      <div class="loading"><span class="loading-gif"></span>正在加载中 ...</div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="people-sort-title">人脉关系</div>
      <ul class="people-sort-list">
        <li ng-click="vm.select('r','同事')"><a href="#">我的同事 ({{content | classify: '同事'}})</a></li>
        <li ng-click="vm.select('r','同学')"><a href="#">我的同学 ({{content | classify: '同学'}})</a></li>
        <li ng-click="vm.select('r','朋友')"><a href="#">我的朋友 ({{content | classify: '朋友'}})</a></li>
        <li ng-click="vm.select('r','共同爱好')"><a href="#">共同爱好 ({{content | classify: '共同爱好'}})</a></li>
      </ul>
      <div class="people-sort-title">职位分布</div>
      <ul class="people-sort-list">
        <li><a href="#">产品经理 (0)</a></li>
        <li><a href="#">前端开发 (0)</a></li>
        <li><a href="#">数据库管理 (0)</a></li>
        <li><a href="#">市场营销 (0)</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="change-select" class="change-select" style="width:199px;" >
    <div class="well custom-well">
        <div class="arrow"></div>
        <div class="relative-option" data-value="同学">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>同学</span>
        </div>
        <div class="relative-option" data-value="同事">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>同事</span>
        </div>
        <div class="relative-option" data-value="朋友">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>朋友</span>
        </div>
        <div class="relative-option" data-value="共同爱好">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>共同爱好</span>
        </div>
        <div class="clearfix" style="margin-top:10px;">
          <a class="btn btn-primary btn-sm pull-right enter">确定</a>
          <span class="error pull-right" style="display:none;">关系不能为空哦...</span>
        </div>
    </div>
</div>
<div class="white-popup-block mfp-hide" id="remove-user">
  <label>你确定删除吗？</label>
  <div class="clearfix">
      <button class="btn btn-primary pull-right" ng-click="vm.close()">否</button>
      <button class="btn btn-danger pull-right" ng-click="vm.remove()" style="margin-right:10px;">是</button>
  </div>
</div>