<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <h4>All Connects</h4>
        </div>
        <div class="col-md-4 pull-right">
          <input type="text" class="form-control" placeholder="search by name">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat-start="user in content">
        <a class="pull-left" ng-href="/profile/{{user.id}}" target="_self">
          <img class="media-object" alt="64x64" ng-src="{{user.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body user-connects">
          <div popup data-mfp-src="#remove-user" class="pull-right remove-btn" ng-click="vm.triggerRemove(user)"><i class="fa fa-fw fa-times"></i></div>
          <h4 class="media-heading"><a ng-href="profile/{{user.id}}" target="_self">{{user.name}}</a></h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{user.occupation || 'no occupation yet'}}</div>
              <div class="search-people-info">Intro: {{user.signature || 'no introduce yet'}}</div>
              <div>Realte: {{user.relate}}</div>
              <div class="search-people-relationship">Connects:{{user.connects}}</div>
            </div>
            <div class="col-md-2">
              <div relselect user="user">
                <a class="btn btn-default pull-right btn-sm" role="button">change relate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr ng-repeat-end>
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': vm.pager.current === 0}" ng-click="prev()"><a href="#">Previous</a></li>
          <li ng-class="{'disabled': $scope.vm.pager.hasLast}" ng-click="next()"><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="people-sort-title">SortBy relation</div>
      <ul class="people-sort-list">
        <li><a href="#">Your Fellows (10)</a></li>
        <li><a href="#">Your Classmate (15)</a></li>
        <li><a href="#">Your Firends (20)</a></li>
        <li><a href="#">Same interest (11)</a></li>
      </ul>
      <div class="people-sort-title">SortBy Position</div>
      <ul class="people-sort-list">
        <li><a href="#">Product Manager (23)</a></li>
        <li><a href="#">FrontEnd developer (31)</a></li>
        <li><a href="#">Server developer (10)</a></li>
        <li><a href="#">Sale Man (11)</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="change-select" class="change-select" style="width:199px;" >
    <div class="well custom-well">
        <div class="arrow"></div>
        <div class="relative-option" data-value="classmate">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>Classmate</span>
        </div>
        <div class="relative-option" data-value="fellow">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>Fellow</span>
        </div>
        <div class="relative-option" data-value="friend">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>Friends</span>
        </div>
        <div class="relative-option" data-value="interest">
          <i class="fa fa-fw fa-circle-o"></i>
          <span>Same Interest</span>
        </div>
        <div class="clearfix" style="margin-top:10px;">
          <a class="btn btn-primary btn-sm pull-right enter">Enter</a>
        </div>
    </div>
</div>
<div class="white-popup-block mfp-hide" id="remove-user">
  <label>Are You Sure To Delete it ?</label>
  <div class="clearfix">
      <button class="btn btn-primary pull-right" ng-click="vm.close()">No</button>
      <button class="btn btn-danger pull-right" ng-click="vm.remove()" style="margin-right:10px;">Yes</button>
  </div>
</div>