<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-heading">Results: 1568</div>
    <div class="panel-body">
      <div class="media" ng-repeat="job in content">
        <a class="pull-left" ng-href="/api/company/{{job.company.name}}" target="_self">
          <img class="media-object" alt="64x64" ng-src="{{job.company.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{job.company.name}}</h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{job.desc}}</div>
              <div> <strong>Payment</strong>: {{job.payment}}</div>
              <div> <strong>Skills</strong>: {{job.skills}}</div>
              <div class="search-job-location"><strong>location</strong>: {{job.location}}</div>
              <div>
                <a href="#" class="search-job-date">Posted at {{job.date}} </a>
                <span> views: {{job.views}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pull-right">
                <a class="btn btn-primary" role="button" ng-href="/api/job/{{job.id}}" target="_self">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">AmazingSurge</h4>
          <div class="row">
            <div class="col-md-8">
              <div>Ask for nodejs developer, code review, write document, communicate with customer(FuZhou)</div>
              <div>
                <a href="#" class="search-job-date">Posted at 2 hours ago </a>
                <span> Views: 1000</span>
                <span> Join: 53</span>
              </div>
              <div class="resume-process">
                <ul class="timeline">
                  <li class="active">
                    <i class="fa fa-envelope bg-blue"></i>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <a class="btn btn-default" role="button">Give up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">SmashMagzine</h4>
          <div class="row">
            <div class="col-md-8">
              <div>Ask for nodejs developer, code review, write document, communicate with customer</div>
              <div> <strong>Payment</strong>: 10k-20k</div>
              <div> <strong>Number</strong>: 2-8</div>
              <div> <strong>Skills</strong>: nodejs html5 css js angular</div>
              <div class="search-job-location"><strong>location</strong>: FuZhou</div>
              <div>
                <a href="#" class="search-job-date">Posted at 2 hours ago </a>
                <span> Views: 1000</span>
                <span> Join: 53</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <a class="btn btn-primary" role="button">View</a>
                <a class="btn btn-default" role="button">remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">CssTrick</h4>
          <div class="row">
            <div class="col-md-8">
              <div>Ask for nodejs developer, code review, write document, communicate with customer</div>
              <div> <strong>Payment</strong>: 10k-20k</div>
              <div> <strong>Number</strong>: 2-8</div>
              <div> <strong>Skills</strong>: nodejs html5 css js angular</div>
              <div class="search-job-location"><strong>location</strong>: FuZhou</div>
              <div>
                <a href="#" class="search-job-date">Posted at 2 hours ago </a>
                <span> Views: 1000</span>
                <span> Join: 53</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <a class="btn btn-primary" role="button">View</a>
                <a class="btn btn-default" role="button">remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': vm.pager.current === 0}" ng-click="prev()"><a href="#">Previous</a></li>
          <li ng-class="{'disabled': $scope.vm.pager.hasLast}" ng-click="next()"><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-heading">
      <h4>Recommendation</h4>
    </div>
    <div class="panel-body">
      
    </div>
  </div>
</div>