<div class="profile-body col-md-9">
  <div class="well custom-well">
    <div class="form-group newTopic" style="position:relative;">
        <textarea auto-height atwho="userList" class="form-control" rows="3" placeholder="来，分享点什么吧 ..." ng-model="newShare" ng-change="change()"></textarea>
        <div class="share-success" id="submit-success">
          <i class="fa fa-fw fa-check-circle"></i>
          <span>发表成功 !</span>
        </div>
    </div>
    <div class="clearfix">
      <span class="pull-left" ng-show="shareCount <= 140">你还可以输入<span class="shareCount">{{140 - shareCount}}</span> 字</span>
      <span class="pull-left" ng-show="shareCount > 140">你已经超过<span class="shareCount" style="color:#E44443;">{{shareCount - 140}}</span> 字</span>
      <a class="btn btn-primary pull-right" role="button" ng-click="submit()" ng-class="{'default': newShare === '' || (shareCount > 140)}" style="padding-left: 20px;padding-right: 20px;">发表</a>
    </div>
  </div>
  <div class="panel news">
    <div class="panel-body" ng-show="!loading">
      <div class="alert alert-info clearfix" role="alert" style="padding:7px 10px 7px 30px;margin-bottom:7px;margin-left:0;" ng-show="showCircle">
        你关注的圈子有 {{groupUpdate}} 条更新，<a href="/groupTrends" class="alert-link" target="_self">快去查看哦</a>
        <a href="" class="pull-right" ng-click="showCircle = false;"><i class="fa fa-fw fa-times"></i></a>
      </div>
      <div class="media" ng-repeat-start="share in shareList">
        <a class="pull-left" ng-href="/profile/{{share.user.id}}" target="_self">
          <img class="media-object" alt="64x64" ng-src="{{share.user.avatar + '-small'}}" style="width: 50px; height: 50px;">
        </a>
        <div class="media-body" id="{{share._id}}">
          <h4 class="media-heading">{{share.user.name}}</h4>
          <div>
            <p md-content="share.content"></p>
            <div class="forkContent" ng-if="share.isFork">
              <p ng-if="share.from.group"><a href="/profile/{{share.from.user.id}}" target="_self">{{'@' + share.from.user.name}}</a> 发布于 <a href="/group/{{share.from.group.id}}" target="_self">{{share.from.group.name}}</a></p>
              <p ng-if="!share.from.group"><a href="/profile/{{share.from.user.id}}" target="_self">{{'@' + share.from.user.name}}</a></p>
              <p md-content="share.from.share.content"></p>
              <div class="date" style="color:#99a1a6;font-size:0.9em;">{{share.from.share.createAt | formatDate:true}}</div>
            </div>
          </div>
          <div class="clearfix media-info">
            <!-- <i class="fa fa-fw fa-clock-o" style="margin-right:3px; color:#999;"></i> -->
            <span class="date pull-left">{{share.createAt | formatDate:true }}</span>
            <span class="collect pull-left" ng-click="vm.toggleCollect(share)">
              <a href="" ng-show="!share.has_collect">收藏</a>
              <a href="" ng-show="share.has_collect">已收藏</a>
            </span>
            <span class="toMyFriends pull-left"><a href="" ng-click="vm.forkPopup(share)">分享({{share.fork}})</a></span>
            <span class="pull-right media-control">
              <a href="#" class="delete" ng-show="global.user.name === share.user.name" ng-click="vm.deleteShare(share)"><i class="fa fa-fw fa-trash-o"></i></a>
              <a href="#" class="like" ng-class="{liked:share.liked}" ng-click="vm.toggleLike(share)"><i class="fa fa-fw fa-thumbs-o-up"></i>({{share.likes}})</a>
              <a href="#" class="comment" ng-click="vm.toggleComment(share)"><i class="fa fa-fw fa-comments"></i>({{share.commentsCount}})</a>
            </span>
          </div>
          <div class="reply-container" ng-show="share.isShowComment">
            <div class="comment-editor">
                <textarea auto-cut auto-height atwho="userList" class="form-control" rows="1" placeholder="输入评论..." ng-model="share.newComment"></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm pull-right reply-submit" type="button" ng-click="vm.submitComment(share)">评论</button>
                </span>
            </div>
            <hr class="reply-hr" ng-show="share.comments.length === 0">
            <div class="reply-placeholder text-center" ng-show="share.comments.length === 0">
              还没人回复呢，快啦回复一下吧 ... 
            </div>
            <hr class="reply-hr" ng-repeat-start="comment in share.comments">
            <div class="media reply-item" ng-repeat-end>
              <a class="pull-left" ng-href="/profile/{{comment.user.id}}" target="_self">
                <img class="media-object" alt="34x34" ng-src="{{comment.user.avatar + '-sm'}}" style="width: 34px; height: 34px;">
              </a>
              <div class="media-body" id="{{comment._id}}">
                <p class="reply-content"><span class="reply-user"><a href="#">{{comment.user.name}}</a>: </span><span md-content="comment.content"></span></p>
                <div class="clearfix media-info">
                  <span class="date pull-left">{{comment.date | formatDate:true}}</span>
                  <span class="pull-right media-control">
                    <a href="#" class="comment" ng-show="comment.user.name === global.user.name || global.user.name === share.user.name" ng-click="vm.delete(comment, share)"><i class="fa fa-fw fa-trash-o"></i></a>
                    <a href="#" class="comment" ng-click="vm.reply(comment)">回复</a>
                  </span>
                </div>
                <div class="input-group comment-editor comment-editor-inline" ng-show="comment.isShowReply">
                    <textarea auto-cut auto-height atwho="userList" class="form-control" rows="1" placeholder="输入评论..." ng-model="comment.newComment"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="button" ng-click="vm.submitInlineComment(comment,share)">评论</button>
                    </span>
                </div>
              </div>
            </div>
            <hr class="reply-hr" ng-show="share.comments.length < share.commentsCount">
            <div ng-show="share.comments.length < share.commentsCount" class="clearfix">
              <a class="pull-right" href="/view/{{share.id}}" target="_blank">查看更多评论 <i class="fa fa-fw fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <hr ng-repeat-end>
      <div ng-show="shareList.length > 0">
        <ul class="pager">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
    <div class="panel-body" ng-show="loading">
      <div class="loading"><span class="loading-gif"></span>正在加载中 ...</div>
    </div>
  </div>  
</div>
<div class="profile-sidebar col-md-3">
  <div class="well">
    <div class="user-header bg-modena clearfix">
        <div class="pull-left">
          <a href="/profile/{{global.user.id}}" target="_self">
            <img ng-src="{{global.user.avatar + '-normal'}}" style="height: 78px;width: 78px">
          </a>
        </div>
        <div class="pull-left">
          <h3 style="margin-top: 4px;">{{global.user.name}}</h3>
          <div style="margin-left: 12px;"><a class="unStyle" href="/myShare">微说 : {{global.shareCount || 0}}</a></div>
          <div style="margin-left: 12px;"><a class="unStyle" href="/myPeople">人脉 : {{global.user.connectsCount}}</a></div>
        </div>
    </div>
  </div>
  <div class="panel panel-default section" ng-cloak>
    <div class="panel-heading">最近一周</div>
    <div class="panel-body" style="padding-top: 12px;">
      <div>
        <a href="">被专业人士浏览了 <span style="font-size: 16px;color: #333;">{{sidebar.weekVisit}}</span> 次</a>
      </div>
      <div>
        <a href="">被猎头搜索了 <span style="font-size: 16px;color: #333;">{{sidebar.weekSearch || 0}}</span> 次</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default section extend-friends">
    <div class="panel-heading clearfix">扩展人脉</div>
    <div class="panel-body">
      <div class="media" ng-repeat="item in sidebar.connects">
          <a class="pull-left" target="_self" href="/profile/{{item.id}}">
              <img class="media-object" alt="64x64" ng-src="{{item.avatar + '-small'}}" style="width: 50px; height: 50px;" >
          </a>
          <div class="media-body">
              <span class="hover-tag" ng-click="sidebar.removeConnect(item)"><i class="fa fa-fw fa-times"></i></span>
              <a target="_self" href="profile/{{item.id}}" target="_self">{{item.name}}</a>
              <div>{{item.location}} | {{item.occupation}}</div>
              <div ><a href="" ng-click="sidebar.addConnect(item)"><i class="fa fa-fw fa-plus"></i>添加人脉</a></div>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default section extend-friends">
    <div class="panel-heading">推荐职位</div>
    <div class="panel-body">
      <div class="media" ng-repeat="item in sidebar.jobs">
          <a class="pull-left" target="_self" href="/profile/{{item.user.id}}">
              <img class="media-object" alt="64x64" ng-src="{{item.user.avatar + '-small'}}" style="width: 50px; height: 50px;" >
          </a>
          <div class="media-body">
              <span class="hover-tag" ng-click="sidebar.removeJob(item)"><i class="fa fa-fw fa-times"></i></span>
              <a target="_self" href="/job/{{item.id}}" target="_self">{{item.position}}</a>
              <div>{{item.location}} | {{item.company}}</div>
              <div><a href="/profile/{{item.user.id}}" style="color:#99a1a6;" target="_self">由 {{item.user.name}} 发布</a></div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- fork popup -->
<div class="mfp-bg mfp-ready" ng-cloak ng-if="fork.open"></div>
<div class="mfp-wrap mfp-close-btn-in mfp-ready fork-popup" style="overflow-y: auto; overflow-x: hidden;" ng-cloak ng-if="fork.open">
  <div class="mfp-container mfp-s-ready mfp-inline-holder">
    <div class="mfp-content">
      <div class="white-popup-block" style="width:560px;max-width:560px;">
        <label style="margin-bottom:10px;">分享到我的好友圈 : </label>
        <div class="forkContent" style="background-color:#ddd;">
          <p ng-if="fork.groupName"><a href="/profile/{{fork.userId}}" target="_self">{{'@' + fork.userName}}</a> 发布于 <a href="/group/{{fork.groupId}}" target="_self">{{fork.groupName}}</a></p>
          <p ng-if="!fork.groupName"><a href="/profile/{{fork.userId}}" target="_self">{{'@' + fork.userName}}</a></p>
          <p md-content="fork.content"></p>
          <div class="date" style="color:#99a1a6;font-size:0.9em;">{{fork.date | formatDate:true}}</div>
        </div>
        <div class="form-group newTopic">
            <textarea auto-height atwho="fork.userList" class="form-control" ng-model="fork.forkShare" ng-change="fork.change(fork.forkShare)" id="forkText"></textarea>
        </div>
        <div class="clearfix">
          <span class="pull-left" ng-show="fork.shareCount <= 140">你还可以输入<span class="shareCount">{{140 - fork.shareCount}}</span> 字</span>
          <span class="pull-left" ng-show="fork.shareCount > 140">你已经超过<span class="shareCount" style="color:#E44443;">{{fork.shareCount - 140}}</span> 字</span>
          <a class="btn btn-primary pull-right" role="button" ng-click="fork.submit()" ng-class="{'default': fork.forkShare === '' || (fork.shareCount > 140)}" style="padding-left:20px; padding-right:20px;">分享</a>
        </div>
        <button title="Close" type="button" class="mfp-close" ng-click="fork.close()">×</button>
      </div>
    </div>
  </div>
</div>