<div class="profile-body col-md-9">
  <div class="panel search-result">
    <div class="panel-body">
      <div ng-repeat-start="request in requests">
        <i class="fa fa-fw fa-bullhorn"></i><span ng-bind-html="request.html"></span>
      </div>
      <hr ng-repeat-end>
      <div ng-show="requests.length === 0">
        <div class="text-center" style="padding:15px;">暂无未处理的消息</div>
      </div>
      <div ng-show="requests.length > 0">
        <ul class="pager">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>