<div class="profile-body col-md-9 people">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <div><span ng-bind="title"></span></div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <!-- <div class="media" ng-repeat="user in content">
        <a class="pull-left" ng-href="/profile/{{user.id}}" target="_self">
          <img class="media-object" alt="64x64" ng-src="{{user.avatar}}" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a ng-href="profile/{{user.id}}" target="_self">{{user.name}}</a></h4>
          <div class="row">
            <div class="col-md-9">
              <div>{{user.occupation || 'no occupation yet'}}</div>
              <div class="search-people-info">Intro: {{user.signature || 'no introduce yet'}}</div>
              <div class="search-people-relationship">Connects:{{user.connects}}</div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" popup href="#connect-popup-content" role="button" ng-click="setRelative(user)">connect</a>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Joeylin</a></h4>
          <div class="row">
            <div class="col-md-9">
              <div class="search-people-signature">Think different</div>
              <div>BUPT Baidu 2years FuZhou</div>
              <div class="search-people-skills">
                <span class="label label-default">NodeJs</span>
                <span class="label label-default">AngularJs</span>
                <span class="label label-default">Css3</span> 
                <span class="label label-default">Mongoose</span> 
              </div>
              <div class="search-people-relationship">Share:100 Connects:200 20 Common</div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button">connect</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <div class="media-heading"><a href="#">司徒正美</a></div>
          <div class="row">
            <div class="col-md-9">
              <div class="search-people-signature">Dream makes people great</div>
              <div>BUPT Baidu 2years FuZhou</div>
              <div class="search-people-skills">
                <span class="label label-default">NodeJs</span>
                <span class="label label-default">AngularJs</span>
                <span class="label label-default">Css3</span> 
                <span class="label label-default">Mongoose</span> 
              </div>
              <div class="search-people-relationship">Share:100 Connects:200 20 Common</div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button" >connect</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Leoylin</a></h4>
          <div class="row">
            <div class="col-md-9">
              <div class="search-people-signature">Think different</div>
              <div>YanBian University Baidu 2years FuZhou</div>
              <div class="search-people-skills">
                <span class="label label-default">NodeJs</span>
                <span class="label label-default">AngularJs</span>
                <span class="label label-default">Css3</span> 
                <span class="label label-default">Mongoose</span> 
              </div>
              <div class="search-people-relationship">Share:100 Connects:200 20 Common</div>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary pull-right" role="button" >connect</a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-3" ng-repeat="user in content" >
          <div class="thumbnail">
            <a href="/profile/{{user.id}}" target="_self">
                <img ng-src="{{user.avatar}}" alt="{{user.name}}" />
            </a>
            <div class="caption">
              <div><a href="/profile/{{user.id}}" target="_self">{{user.name}}</a></div>
              <div>{{user.location || '未知'}} | {{user.occupation}}</div>
              <div class="addBtn text-center" ng-show="!user.isConnected">
                <span popup data-mfp-src="#connect-popup-content" ng-click="setRelative(user)"><i class="fa fa-fw fa-plus"></i>添加</span>
              </div>
              <div class="addBtn text-center" ng-show="user.isConnected">
                <span style="padding-left:3px;padding-right:3px;"><i class="fa fa-fw fa-check"></i>已发送请求</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="/public/imgs/nodejs.png" alt="..." />
            <div class="caption">
              <div><a href="#">Laolei</a></div>
              <div>北京 | 网络开发者</div>
              <div class="addBtn text-center">
                <span><i class="fa fa-fw fa-plus"></i>添加</span>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-3">
          <div class="thumbnail">
            <img src="/public/imgs/baidu_log.jpg" alt="..." />
            <div class="caption">
              <div><a href="#">Howell</a></div>
              <div>福州 | web开发者</div>
              <div class="addBtn text-center">
                <span><i class="fa fa-fw fa-plus"></i>添加</span>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-3">
          <div class="thumbnail">
            <img src="/public/imgs/nodejs.png" alt="..." />
            <div class="caption">
              <div><a href="#">Joeylin</a></div>
              <div>上海 | PHP开发者</div>
              <div class="addBtn text-center">
                <span><i class="fa fa-fw fa-plus"></i>添加</span>
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-3">
          <div class="thumbnail">
            <img src="/public/imgs/angularjs.png" alt="..." />
            <div class="caption">
              <div><a href="#">Joeylin</a></div>
              <div>北京 | 网络开发者</div>
              <div class="addBtn text-center">
                <span><i class="fa fa-fw fa-plus"></i>添加</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
          <label>ID</label>
          <input id="id" type="text" class="form-control" placeholder="根据ID查找" ng-model="id" ng-keydown="enter($event,'id',id)">
      </div>  
      <div class="clearfix" ng-show="showSubmitBtn">
        <a id="idBtn" class="btn btn-primary pull-right btn-sm" role="button" ng-click="idSubmit()">查找</a>
      </div>
      <hr style="margin-bottom:13px;"> 
      <div class="form-group">
          <label>姓名</label>
          <input type="text" class="form-control" placeholder="姓名" ng-model="name">
      </div>
      <div class="form-group">
          <label>所在地</label>
          <input type="text" class="form-control" placeholder="所在地" ng-model="location">
      </div>
      <div class="form-group">
          <label>就职公司</label>
          <input type="text" class="form-control" placeholder="就职公司" ng-model="keyword">
      </div>
      <div class="form-group">
          <label>就读学校</label>
          <input type="text" class="form-control" placeholder="就读学校" ng-model="school">
      </div>
      <div class="clearfix">
        <a class="pull-left search-advance" role="button" style="line-height:30px;">高级搜索 <i class="fa fa-fw fa-angle-double-right"></i></a>
        <a class="btn btn-primary pull-right btn-sm" role="button" ng-click="submit()">查找</a>
      </div>
    </div>
  </div>
</div>
<div id="connect-popup-content" class="white-popup-block mfp-hide relative" style="width:400px;">
  <h3>人脉关系</h3>
  <div class="relative-option" ng-click="toggleMate()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isClassmate]"></i>
    <span>同学</span>
  </div>
  <div class="relative-option" ng-click="toggleFellow()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isFellow]"></i>
    <span>同事</span>
  </div>
  <div class="relative-option" ng-click="toggleFriend()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isFriend]"></i>
    <span>朋友</span>
  </div>
  <div class="relative-option" ng-click="toggleInterest()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isInterest]"></i>
    <span>共同爱好</span>
  </div>
  <div class="relative-btn clearfix">
    <a class="btn pull-right" ng-class="{true:'btn-primary',false:'btn-default'}[!!relative.length]" role="button" ng-click="connect()">确定</a>
  </div>
</div>