<div class="profile-body col-md-9 people">
  <div class="panel search-result">
    <div class="panel-heading custom-heading">
      <div class="row">
        <div class="col-md-8">
          <div><span ng-bind="title"></span></div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" ng-repeat="user in content" >
          <div class="thumbnail">
            <a href="/profile/{{user.id}}" target="_self">
                <img ng-src="{{user.avatar + '-big'}}" alt="{{user.name}}" />
            </a>
            <div class="caption">
              <div><a href="/profile/{{user.id}}" target="_self">{{user.name}}</a></div>
              <div style="white-space: nowrap;overflow: hidden;">{{user.location || '未知'}} | {{user.occupation}}</div>
              <div class="addBtn text-center" ng-show="!user.isConnected" popup data-mfp-src="#connect-popup-content" ng-click="setRelative(user)">
                <span><i class="fa fa-fw fa-plus"></i>添加</span>
              </div>
              <div class="addBtn text-center" ng-show="user.isConnected">
                <span style="padding-left:3px;padding-right:3px;"><i class="fa fa-fw fa-check"></i>已发送请求</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin-top:0;">
      <div>
        <ul class="pager">
          <li ng-class="{'disabled': pager.current === 1}" ng-click="prev()"><a href="#">上一页</a></li>
          <li ng-class="{'disabled': !pager.hasNext}" ng-click="next()"><a href="#">下一页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="profile-sidebar col-md-3">
  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
          <label>姓名</label>
          <input type="text" class="form-control" placeholder="姓名" ng-model="name">
      </div>
      <div class="form-group">
          <label>所在地</label>
          <input type="text" class="form-control" placeholder="所在地" ng-model="location">
      </div>
      <div class="form-group">
          <label>就职公司</label>
          <input type="text" class="form-control" placeholder="就职公司" ng-model="company">
      </div>
      <div class="form-group">
          <label>就读学校</label>
          <input type="text" class="form-control" placeholder="就读学校" ng-model="school">
      </div>
      <div class="clearfix">
        <a class="pull-left search-advance" role="button" style="line-height:30px;">高级搜索 <i class="fa fa-fw fa-angle-double-right"></i></a>
        <a class="btn btn-primary pull-right btn-sm" role="button" ng-click="submit()">查找</a>
      </div>
    </div>
  </div>
</div>
<div id="connect-popup-content" class="white-popup-block mfp-hide relative" style="width:400px;">
  <h3>人脉关系</h3>
  <div class="relative-option" ng-click="toggleMate()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isClassmate]"></i>
    <span>同学</span>
  </div>
  <div class="relative-option" ng-click="toggleFellow()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isFellow]"></i>
    <span>同事</span>
  </div>
  <div class="relative-option" ng-click="toggleFriend()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isFriend]"></i>
    <span>朋友</span>
  </div>
  <div class="relative-option" ng-click="toggleInterest()">
    <i class="fa fa-fw" ng-class="{true:'fa-check-circle-o',false:'fa-circle-o'}[isInterest]"></i>
    <span>共同爱好</span>
  </div>
  <div class="relative-btn clearfix">
    <a class="btn pull-right" ng-class="{true:'btn-primary',false:'btn-default'}[!!relative.length]" role="button" ng-click="connect()">确定</a>
  </div>
</div>